<h1>Python 2 - Object Oriented Programming and Pandas</h1>

<!-- :    : -->

<p>4 Pillars of OOP</p>
<ul>
    
<li>Encapsulation: Group related variables and functions together to reduce complexity and increase reusability</li>
<li>Data Abstraction: Creating methods to interface with attributes of your class. Show only essentials to reduce complexity</li>
<li>Inheritance</li>
<li>Polymorphism</li>

</ul>

<h1>Inheritance</h1>
<ul>
    <li>New classes do not need to be declared from scratch. They may build on existing classes</li>
    <li>When one class inherits from another, it automatically takes on all the attributes and methods of the first class</li>
    <li>Goal: Eliminate redundant code by inheriting attributes and methods from a parent class</li>
</ul>

In [35]:
class Car():    
    """A simple attempt to represent a car."""
    def __init__(self, make, model, year):        
        self.make = make        
        self.model = model        
        self.year = year        
        self.odometer_reading = 0            
    
    def get_descriptive_name(self):        
        long_name = str(self.year) + ' ' + self.make + ' ' + self.model        
        return long_name.title()        
    
    def read_odometer(self):        
        print("This car has " + str(self.odometer_reading) + " miles on it.")            
        
    def update_odometer(self, mileage):        
        if mileage >= self.odometer_reading:            
            self.odometer_reading = mileage        
        else:            
            print("You can't roll back an odometer!")        
            
    def increment_odometer(self, miles):        
        self.odometer_reading += miles

In [36]:
class ElectricCar(Car):    
    """Represent aspects of a car, specific to electric vehicles."""
    def __init__(self, make, model, year):      
        """Initialize attributes of the parent class."""  
        super().__init__(make, model, year)

In [37]:
my_tesla = ElectricCar('tesla', 'model s', 2016) 
print(my_tesla.get_descriptive_name())

2016 Tesla Model S

In [38]:
my_tesla.increment_odometer(10)
my_tesla.read_odometer()

This car has 10 miles on it.

<h1>Polymorphism</h1>

<ul>
    <li>Because child classes inherit all attributes and methods from their parent class, we may wish to refactor and customize classes to specific use cases.</li>
    <li>Overiding involves the redefining of methods to better suit child classes </li>
</ul>

In [39]:
class GasCar(Car):
    def __init__(self, make, model, year):      
        """Initialize attributes of the parent class."""
        super().__init__(make, model, year) 
        
    def get_descriptive_name(self):        
        long_name = str(self.year) + ' ' + self.make + ' '\
                    + self.model + " is a gas car"     
        return long_name.title()

In [40]:
my_bmw = GasCar('BMW', 'i8', 2015)
print(my_bmw.get_descriptive_name())

2015 Bmw I8 Is A Gas Car

<h1>Pandas</h1>

In [41]:
import pandas as pd
%matplotlib inline

<h1>Reading CVS Files</h1>

<ul>
    <li>Function to use in Pandas: read_csv()</li>
    <li>Value passed to read_csv() must be string and the <b>exact</b> name of the file</li>
    <li>CSV Files must be in the same directory as the python file/notebook</li>
</ul>

In [42]:
df = pd.read_csv("imports - Sheet1.csv")
#read_excel also an option

#print(df)

<h1>Basic DataFrame Functions</h1>

<ul>
    <li>head() will display the first 5 values of the DataFrame</li>
    <li>tail() will display the last 5 values of the DataFrame </li>
    <li>shape will display the dimensions of the DataFrame</li>
    <li>columns() will return the columns of the DataFrame as a list</li>
    <li>dtypes will display the types of each column of the DataFrame</li>
    <li>drop() will remove a column from the DataFrame</li>
</ul>

In [43]:
df.head()

,year,country_origin_id,country_destination_id,hs92_product_id,export_val,export_val_pct
0,1995,VNM,BFA,ALL,67177.77,0.00%
1,1995,VNM,CAF,ALL,514674.15,0.00%
2,1995,VNM,CIV,ALL,58011.71,0.00%
3,1995,VNM,CMR,ALL,97669.00,0.00%
4,1995,VNM,COG,ALL,24018.39,0.00%

In [44]:
df.tail()

,year,country_origin_id,country_destination_id,hs92_product_id,export_val,export_val_pct
2425,2015,VNM,ECU,ALL,4412351.39,0.01%
2426,2015,VNM,GUY,ALL,7137466.15,0.02%
2427,2015,VNM,PER,ALL,280650.31,0.00%
2428,2015,VNM,PRY,ALL,16496727.35,0.05%
2429,2015,VNM,URY,ALL,206349.39,0.00%

In [45]:
df.shape

(2430, 6)

In [46]:
df.columns

Index(['year', 'country_origin_id', 'country_destination_id',
       'hs92_product_id', 'export_val', 'export_val_pct'],
      dtype='object')

In [47]:
df.columns = ["year", "country origin", "country destination", 
              "product", "export_val", "export_val_pct"]

df.head()

   year country origin country destination product  export_val export_val_pct
0  1995            VNM                 BFA     ALL    67177.77          0.00%
1  1995            VNM                 CAF     ALL   514674.15          0.00%
2  1995            VNM                 CIV     ALL    58011.71          0.00%
3  1995            VNM                 CMR     ALL    97669.00          0.00%
4  1995            VNM                 COG     ALL    24018.39          0.00%

In [48]:
df.dtypes

year                     int64
country origin          object
country destination     object
product                 object
export_val             float64
export_val_pct          object
dtype: object

<h1>Indexing and Series Functions</h1>

<ul>
    <li>Columns of a DataFrame can be accessed through the following format: df_name["name_of_column"] </li>
    <li>Columns will be returned as a Series, which have different methods than DataFrames </li>
    <li>A couple useful Series functions: max(), median(), min(), value_counts(), sort_values()</li>
</ul>

In [49]:
df["export_val"]

df["export_val"].max()

2718394688.0

In [50]:
df["export_val"].median()

767979.0700000001

In [51]:
df["export_val"].min()

1000.0

In [52]:
df["year"].value_counts()

2007    131
2005    131
2006    129
2008    124
2003    124
2004    124
2009    123
2010    121
2000    120
2002    120
2001    119
2011    116
1999    114
2012    114
2015    109
2014    109
2013    108
1998    108
1997    101
1996     98
1995     87
Name: year, dtype: int64

In [53]:
df.sort_values(by = "year", ascending = True)
df.head()

   year country origin country destination product  export_val export_val_pct
0  1995            VNM                 BFA     ALL    67177.77          0.00%
1  1995            VNM                 CAF     ALL   514674.15          0.00%
2  1995            VNM                 CIV     ALL    58011.71          0.00%
3  1995            VNM                 CMR     ALL    97669.00          0.00%
4  1995            VNM                 COG     ALL    24018.39          0.00%

In [54]:
# delete one column
df.drop("export_val_pct", 1).head()

   year country origin country destination product  export_val
0  1995            VNM                 BFA     ALL    67177.77
1  1995            VNM                 CAF     ALL   514674.15
2  1995            VNM                 CIV     ALL    58011.71
3  1995            VNM                 CMR     ALL    97669.00
4  1995            VNM                 COG     ALL    24018.39

In [55]:
# delete multiple columns
df.drop(["export_val_pct", "product"], 1, inplace = True)

In [56]:
df.head()

   year country origin country destination  export_val
0  1995            VNM                 BFA    67177.77
1  1995            VNM                 CAF   514674.15
2  1995            VNM                 CIV    58011.71
3  1995            VNM                 CMR    97669.00
4  1995            VNM                 COG    24018.39

<h1>Indexing</h1>

<ul>
    <li>Because Pandas will select entries based on column values by default, selecting data based on row values requires the use of the iloc method. 
    </li>
    <li>
      Allowed inputs are:
        <ul>
            <li>An integer, e.g. 5.</li>
            <li>A list or array of integers, e.g. [4, 3, 0].</li>
            <li>A slice object with ints, e.g. 1:7.</li>
        </ul>
    </li>
</ul>

In [57]:
#Retrieve a couple rows from their index values
df.iloc[[0]]
df.iloc[[0, 1]]

   year country origin country destination  export_val
0  1995            VNM                 BFA    67177.77
1  1995            VNM                 CAF   514674.15

In [58]:
#Similar to arrays, we can use splicing to access multiple rows
df.iloc[:5]

   year country origin country destination  export_val
0  1995            VNM                 BFA    67177.77
1  1995            VNM                 CAF   514674.15
2  1995            VNM                 CIV    58011.71
3  1995            VNM                 CMR    97669.00
4  1995            VNM                 COG    24018.39

In [59]:
#We may also provide specific row/column values to access specific values
df.iloc[0, 1]

'VNM'

In [60]:
#Multiple rows and specific columns
df.iloc[[0, 2], [1, 3]]

  country origin  export_val
0            VNM    67177.77
2            VNM    58011.71

In [61]:
#We can also splice multiple rows / columns
df.iloc[1:3, 0:3]

   year country origin country destination
1  1995            VNM                 CAF
2  1995            VNM                 CIV

In [62]:
#How to iterate over rows
for index, row in df.iterrows():
    print(f'Export from {row["country origin"]} to {row["country destination"]} of {row["export_val"]}')

Export from VNM to BFA of 67177.77
Export from VNM to CAF of 514674.15
Export from VNM to CIV of 58011.71
Export from VNM to CMR of 97669.0
Export from VNM to COG of 24018.39
Export from VNM to DZA of 3045918.0
Export from VNM to EGY of 2004172.01
Export from VNM to ETH of 6721108.07
Export from VNM to GIN of 501237.81
Export from VNM to MDG of 58962.92
Export from VNM to MUS of 1735714.92
Export from VNM to NER of 59760.85
Export from VNM to SDN of 1379844.58
Export from VNM to SYC of 10551.0
Export from VNM to TCD of 63364.31
Export from VNM to TGO of 270465.31
Export from VNM to TUN of 1369375.58
Export from VNM to TZA of 148144.85
Export from VNM to UGA of 1103468.68
Export from VNM to ZAF of 1086686.0
Export from VNM to ZMB of 498829.15
Export from VNM to ZWE of 3461937.03
Export from VNM to BGD of 356926.28
Export from VNM to CHN of 58936545.91
Export from VNM to HKG of 31827160.99
Export from VNM to IDN of 25947698.89
Export from VNM to IND of 33478005.23
Export from VNM to JOR of 50046.5
Export from VNM to JPN of 329282342.5
Export from VNM to KGZ of 325299.0
Export from VNM to KOR of 1436899.4
Export from VNM to MAC of 41018.0
Export from VNM to MDV of 81002.96
Export from VNM to MYS of 438410.88
Export from VNM to SAU of 37505702.62
Export from VNM to SGP of 775952.31
Export from VNM to THA of 2995924.5
Export from VNM to TUR of 567111.05
Export from VNM to AND of 59863.0
Export from VNM to BLX of 2693997.82
Export from VNM to CHE of 1039014.26
Export from VNM to CZE of 732661.84
Export from VNM to DEU of 38899053.18
Export from VNM to DNK of 1280768.28
Export from VNM to ESP of 3417359.24
Export from VNM to EST of 266491.63
Export from VNM to FIN of 94373.0
Export from VNM to FRA of 20920630.19
Export from VNM to GBR of 259318.06
Export from VNM to GRC of 2003022.53
Export from VNM to HRV of 205958.55
Export from VNM to HUN of 320539.93
Export from VNM to IRL of 4456019.39
Export from VNM to ISL of 33545.0
Export from VNM to ITA of 3697789.73
Export from VNM to LTU of 46311.35
Export from VNM to LVA of 1807154.58
Export from VNM to MDA of 1488.0
Export from VNM to NLD of 2874529.18
Export from VNM to NOR of 7999.03
Export from VNM to POL of 11586403.81
Export from VNM to PRT of 79689.0
Export from VNM to ROU of 139294.09
Export from VNM to SVK of 705910.28
Export from VNM to SVN of 134167.01
Export from VNM to SWE of 847942.11
Export from VNM to CAN of 377082.18
Export from VNM to CRI of 2588843.9
Export from VNM to GRD of 15859.6
Export from VNM to GRL of 16753.61
Export from VNM to GTM of 837038.14
Export from VNM to HND of 8123835.9
Export from VNM to KNA of 186851.89
Export from VNM to LCA of 548558.8
Export from VNM to MEX of 193657174.8
Export from VNM to NIC of 184852.02
Export from VNM to TTO of 583051.97
Export from VNM to AUS of 360760.63
Export from VNM to NZL of 10112.6
Export from VNM to BOL of 292773.0
Export from VNM to BRA of 4444460.25
Export from VNM to CHL of 478202.83
Export from VNM to COL of 4173808.59
Export from VNM to PER of 519383.4
Export from VNM to SUR of 1196006.77
Export from VNM to URY of 51779.67
Export from VNM to VEN of 32480.7
Export from VNM to BFA of 141525.02
Export from VNM to CAF of 295472.22
Export from VNM to CIV of 57674.74
Export from VNM to CMR of 1797.0
Export from VNM to DZA of 2230352.0
Export from VNM to EGY of 230149.25
Export from VNM to GAB of 143787.68
Export from VNM to GHA of 3637798.17
Export from VNM to GIN of 382235.08
Export from VNM to GMB of 34687.44
Export from VNM to MDG of 382291.5
Export from VNM to MLI of 212973.78
Export from VNM to MUS of 2135456.44
Export from VNM to NER of 25112.05
Export from VNM to NGA of 2073982.63
Export from VNM to SDN of 557246.68
Export from VNM to SEN of 49023.62
Export from VNM to SYC of 2611.0
Export from VNM to TGO of 346755.88
Export from VNM to TUN of 587915.94
Export from VNM to TZA of 76247.21
Export from VNM to UGA of 824660.95
Export from VNM to ZAF of 1614320.0
Export from VNM to AZE of 11699.0
Export from VNM to BGD of 19507587.17
Export from VNM to CHN of 61753457.85
Export from VNM to GEO of 1205312.0
Export from VNM to HKG of 46278571.76
Export from VNM to IDN of 29993562.4
Export from VNM to IND of 26675324.23
Export from VNM to JPN of 281380797.4
Export from VNM to KGZ of 184398.0
Export from VNM to MAC of 12953.29
Export from VNM to MDV of 77614.68
Export from VNM to MNG of 101699.0
Export from VNM to MYS of 412131.3
Export from VNM to SAU of 38024293.23
Export from VNM to SGP of 3799600.23
Export from VNM to THA of 1135261.54
Export from VNM to ALB of 80817.85
Export from VNM to AND of 134099.45
Export from VNM to AUT of 2652534.27
Export from VNM to BGR of 2470874.33
Export from VNM to BLX of 327924.72
Export from VNM to CHE of 733842.45
Export from VNM to CZE of 947088.3
Export from VNM to DEU of 41751341.66
Export from VNM to DNK of 743641.83
Export from VNM to ESP of 19674681.3
Export from VNM to EST of 155157.88
Export from VNM to FIN of 24723.0
Export from VNM to FRA of 29697024.52
Export from VNM to GBR of 352135.0
Export from VNM to GRC of 653671.19
Export from VNM to HRV of 232241.85
Export from VNM to HUN of 272695.57
Export from VNM to IRL of 5049804.84
Export from VNM to ITA of 1234172.12
Export from VNM to LTU of 32069.11
Export from VNM to LVA of 1665392.29
Export from VNM to MDA of 51983.1
Export from VNM to MKD of 15178.0
Export from VNM to NLD of 3631325.56
Export from VNM to POL of 8489860.54
Export from VNM to PRT of 47030.25
Export from VNM to ROU of 140247.9
Export from VNM to RUS of 28604151.53
Export from VNM to SVK of 799625.43
Export from VNM to SVN of 2253200.09
Export from VNM to SWE of 874435.98
Export from VNM to UKR of 2923831.1
Export from VNM to YUG of 56949.21
Export from VNM to CAN of 3140.0
Export from VNM to CRI of 2683112.28
Export from VNM to DMA of 1973.83
Export from VNM to GRD of 50173.19
Export from VNM to GRL of 6591.0
Export from VNM to GTM of 701900.8
Export from VNM to HND of 7017765.64
Export from VNM to JAM of 1466726.09
Export from VNM to KNA of 237676.99
Export from VNM to LCA of 369999.85
Export from VNM to MEX of 116976842.4
Export from VNM to NIC of 1930947.46
Export from VNM to SLV of 2272173.11
Export from VNM to TTO of 923969.57
Export from VNM to AUS of 482490.72
Export from VNM to NZL of 4084.98
Export from VNM to PYF of 281807.65
Export from VNM to BOL of 448635.66
Export from VNM to BRA of 3135928.91
Export from VNM to CHL of 479307.05
Export from VNM to COL of 3440221.78
Export from VNM to ECU of 23961796.66
Export from VNM to PER of 1685989.98
Export from VNM to SUR of 2750121.51
Export from VNM to URY of 397684.36
Export from VNM to VEN of 3457741.1
Export from VNM to BFA of 218335.84
Export from VNM to CAF of 167318.18
Export from VNM to CIV of 119240.28
Export from VNM to CMR of 184486.4
Export from VNM to DZA of 2131450.0
Export from VNM to EGY of 50271.31
Export from VNM to ETH of 2826772.99
Export from VNM to GAB of 409525.01
Export from VNM to GHA of 6049019.84
Export from VNM to GIN of 292672.76
Export from VNM to GMB of 210458.07
Export from VNM to KEN of 51494.0
Export from VNM to MDG of 306020.83
Export from VNM to MLI of 211223.97
Export from VNM to MUS of 707128.85
Export from VNM to NER of 33743.3
Export from VNM to NGA of 488735.12
Export from VNM to SDN of 733665.83
Export from VNM to SEN of 109990.35
Export from VNM to TGO of 270162.2
Export from VNM to TUN of 1696625.18
Export from VNM to TZA of 267330.2
Export from VNM to UGA of 322290.4
Export from VNM to ZAF of 2424829.0
Export from VNM to AZE of 7159.0
Export from VNM to BGD of 43717006.42
Export from VNM to BRN of 299924.6
Export from VNM to CHN of 108174875.4
Export from VNM to GEO of 1160311.0
Export from VNM to HKG of 173010976.4
Export from VNM to IDN of 7141719.74
Export from VNM to IND of 53204514.59
Export from VNM to IRN of 1097288.62
Export from VNM to JPN of 290201956.3
Export from VNM to KOR of 331839.95
Export from VNM to LBN of 82924479.03
Export from VNM to MAC of 5178541.0
Export from VNM to MDV of 310211.6
Export from VNM to MNG of 14277.59
Export from VNM to MYS of 270087.38
Export from VNM to SGP of 2975449.65
Export from VNM to THA of 9348539.39
Export from VNM to ALB of 34624.0
Export from VNM to AND of 55795.77
Export from VNM to AUT of 1571092.13
Export from VNM to BGR of 3377673.65
Export from VNM to BLX of 762848.51
Export from VNM to CHE of 653136.28
Export from VNM to CZE of 1033552.24
Export from VNM to DEU of 43354292.32
Export from VNM to DNK of 900801.64
Export from VNM to ESP of 10342328.85
Export from VNM to EST of 31051.89
Export from VNM to FIN of 65921.0
Export from VNM to FRA of 25171894.39
Export from VNM to GBR of 724235.88
Export from VNM to GRC of 301059.13
Export from VNM to HRV of 318876.67
Export from VNM to HUN of 182791.95
Export from VNM to IRL of 2766382.5
Export from VNM to ITA of 1336677.83
Export from VNM to LTU of 245372.72
Export from VNM to LVA of 811670.13
Export from VNM to MKD of 20187.0
Export from VNM to NLD of 3569425.47
Export from VNM to NOR of 155877.81
Export from VNM to POL of 6391657.71
Export from VNM to PRT of 10983.22
Export from VNM to ROU of 128879.55
Export from VNM to RUS of 16914836.17
Export from VNM to SVK of 753118.39
Export from VNM to SVN of 4358154.63
Export from VNM to SWE of 66992.88
Export from VNM to UKR of 2277407.09
Export from VNM to YUG of 78000.0
Export from VNM to BHS of 86815.18
Export from VNM to BRB of 14005.61
Export from VNM to CAN of 86511.43
Export from VNM to CRI of 4112871.38
Export from VNM to GRD of 46985.0
Export from VNM to GRL of 2806.0
Export from VNM to GTM of 1604364.5
Export from VNM to HND of 6773628.1
Export from VNM to JAM of 1860126.73
Export from VNM to KNA of 41868.48
Export from VNM to LCA of 354100.24
Export from VNM to MEX of 240946420.5
Export from VNM to NIC of 6161858.01
Export from VNM to TTO of 1682899.23
Export from VNM to AUS of 1315286.34
Export from VNM to NZL of 1363.11
Export from VNM to PYF of 80680.31
Export from VNM to BOL of 658686.46
Export from VNM to BRA of 33715868.28
Export from VNM to CHL of 321907.93
Export from VNM to COL of 3964397.86
Export from VNM to ECU of 149970.94
Export from VNM to GUY of 41545.47
Export from VNM to PER of 1130928.59
Export from VNM to URY of 705858.96
Export from VNM to VEN of 44057.91
Export from VNM to BEN of 2892637.48
Export from VNM to BFA of 1498090.16
Export from VNM to CAF of 46335.68
Export from VNM to CIV of 216750.68
Export from VNM to CMR of 162192.82
Export from VNM to CPV of 26896.54
Export from VNM to DZA of 3190483.0
Export from VNM to EGY of 637530.0
Export from VNM to ETH of 3299966.93
Export from VNM to GAB of 207276.84
Export from VNM to GHA of 3945873.72
Export from VNM to GMB of 63624.08
Export from VNM to KEN of 91202.03
Export from VNM to MDG of 206030.27
Export from VNM to MLI of 189880.95
Export from VNM to MUS of 1198572.73
Export from VNM to NER of 59927.19
Export from VNM to NGA of 650856.64
Export from VNM to SDN of 1033350.54
Export from VNM to SEN of 147178.61
Export from VNM to TGO of 1455159.52
Export from VNM to TUN of 2070900.47
Export from VNM to TZA of 192131.59
Export from VNM to UGA of 218952.14
Export from VNM to ZAF of 2040949.0
Export from VNM to ZMB of 226382.82
Export from VNM to AZE of 129125.14
Export from VNM to BGD of 24240422.94
Export from VNM to BRN of 2462066.94
Export from VNM to CHN of 49851196.57
Export from VNM to GEO of 356274.0
Export from VNM to HKG of 41766532.28
Export from VNM to IDN of 3794490.89
Export from VNM to IND of 31646551.09
Export from VNM to IRN of 157230.59
Export from VNM to JPN of 211338449.4
Export from VNM to KOR of 837864.84
Export from VNM to LBN of 38609047.19
Export from VNM to MAC of 6682409.52
Export from VNM to MDV of 182324.4
Export from VNM to MNG of 54915.22
Export from VNM to MYS of 27685.15
Export from VNM to OMN of 13555.0
Export from VNM to SAU of 42724911.36
Export from VNM to SGP of 1999585.75
Export from VNM to THA of 1277146.71
Export from VNM to TUR of 1712432.34
Export from VNM to ALB of 87993.0
Export from VNM to AND of 192884.22
Export from VNM to AUT of 2807685.64
Export from VNM to BGR of 2233624.75
Export from VNM to BLR of 3070273.52
Export from VNM to BLX of 2014848.68
Export from VNM to CHE of 856188.57
Export from VNM to CZE of 625188.71
Export from VNM to DEU of 29623390.32
Export from VNM to DNK of 1547625.28
Export from VNM to ESP of 7339237.24
Export from VNM to EST of 148577.4
Export from VNM to FIN of 49633.96
Export from VNM to FRA of 15874261.09
Export from VNM to GBR of 1175696.76
Export from VNM to GRC of 43359609.68
Export from VNM to HRV of 324911.28
Export from VNM to HUN of 553122.13
Export from VNM to IRL of 11000526.24
Export from VNM to ITA of 1411094.57
Export from VNM to LTU of 230012.22
Export from VNM to LVA of 16262.0

Export from VNM to MDA of 120681.0
Export from VNM to MKD of 23820.28
Export from VNM to NLD of 4009683.52
Export from VNM to NOR of 4884.0
Export from VNM to POL of 10227912.81
Export from VNM to PRT of 68877.1
Export from VNM to ROU of 366593.17
Export from VNM to RUS of 8275783.17
Export from VNM to SVK of 816962.57
Export from VNM to SVN of 4405859.01
Export from VNM to SWE of 318987.88
Export from VNM to UKR of 12437023.21
Export from VNM to YUG of 73958.53
Export from VNM to BHS of 35504.42
Export from VNM to BRB of 54665.17
Export from VNM to CAN of 343905.08
Export from VNM to CRI of 5211472.31
Export from VNM to GRL of 5932.18
Export from VNM to GTM of 2260841.77
Export from VNM to HND of 4391761.86
Export from VNM to JAM of 1949925.13
Export from VNM to LCA of 317221.75
Export from VNM to MEX of 100420898.0
Export from VNM to SLV of 4844854.65
Export from VNM to TTO of 2458977.82
Export from VNM to AUS of 4577761.75
Export from VNM to NZL of 5308.93
Export from VNM to PNG of 135136.36
Export from VNM to PYF of 86522.99
Export from VNM to BOL of 1377853.05
Export from VNM to BRA of 45114593.74
Export from VNM to CHL of 256157.68
Export from VNM to COL of 3586311.07
Export from VNM to ECU of 194185.27
Export from VNM to GUY of 70334.81
Export from VNM to PER of 2738516.23
Export from VNM to PRY of 377471.7
Export from VNM to URY of 2412669.32
Export from VNM to VEN of 166872.29
Export from VNM to BEN of 1985812.69
Export from VNM to BFA of 384014.99
Export from VNM to CAF of 1851.64
Export from VNM to CIV of 355912.79
Export from VNM to CMR of 2502.51
Export from VNM to CPV of 65814.3
Export from VNM to DZA of 5240085.0
Export from VNM to EGY of 965768.71
Export from VNM to ETH of 2443034.03
Export from VNM to GAB of 110663.41
Export from VNM to GHA of 5025691.23
Export from VNM to GMB of 1249302.88
Export from VNM to KEN of 364960.77
Export from VNM to MDG of 190125.61
Export from VNM to MLI of 230252.25
Export from VNM to MUS of 1419988.63
Export from VNM to NER of 28664.92
Export from VNM to NGA of 330483.92
Export from VNM to SDN of 1263857.54
Export from VNM to SEN of 112622.49
Export from VNM to STP of 395902.61
Export from VNM to TGO of 276047.71
Export from VNM to TUN of 1967913.03
Export from VNM to TZA of 950920.02
Export from VNM to UGA of 225559.52
Export from VNM to ZAF of 3009721.0
Export from VNM to ARM of 18210.0
Export from VNM to AZE of 75865.65
Export from VNM to CHN of 38343315.04
Export from VNM to GEO of 20522.0
Export from VNM to HKG of 45485755.29
Export from VNM to IDN of 902981.45
Export from VNM to IND of 15443095.31
Export from VNM to JOR of 175881.0
Export from VNM to JPN of 195611144.6
Export from VNM to KOR of 14146148.88
Export from VNM to LBN of 32348040.24
Export from VNM to LKA of 2368.0
Export from VNM to MAC of 27403128.48
Export from VNM to MDV of 332439.91
Export from VNM to MNG of 20351.38
Export from VNM to MYS of 1683505.34
Export from VNM to OMN of 24115.58
Export from VNM to SAU of 52373771.73
Export from VNM to SGP of 1271263.71
Export from VNM to THA of 2716720.7
Export from VNM to TUR of 5581273.38
Export from VNM to ALB of 131453.73
Export from VNM to AND of 118431.0
Export from VNM to AUT of 2508683.29
Export from VNM to BGR of 1916107.18
Export from VNM to BLR of 2729603.49
Export from VNM to BLX of 308796.65
Export from VNM to CHE of 1185125.88
Export from VNM to CZE of 457543.91
Export from VNM to DEU of 24581114.82
Export from VNM to DNK of 2682540.53
Export from VNM to ESP of 9303676.31
Export from VNM to EST of 254439.4
Export from VNM to FIN of 31914.1
Export from VNM to FRA of 10020822.15
Export from VNM to GBR of 2067532.03
Export from VNM to GRC of 1611037.44
Export from VNM to HRV of 84600.12
Export from VNM to HUN of 251597.47
Export from VNM to IRL of 23594151.04
Export from VNM to ITA of 2070383.84
Export from VNM to LTU of 27986.0
Export from VNM to LVA of 8773.0
Export from VNM to MDA of 113935.2
Export from VNM to MKD of 76207.3
Export from VNM to NLD of 2908721.61
Export from VNM to POL of 6396334.47
Export from VNM to PRT of 295389.68
Export from VNM to ROU of 461703.43
Export from VNM to RUS of 7021722.88
Export from VNM to SVK of 443360.99
Export from VNM to SVN of 3151635.13
Export from VNM to SWE of 216345.08
Export from VNM to UKR of 6558921.73
Export from VNM to YUG of 33000.0
Export from VNM to ATG of 1496187.09
Export from VNM to BHS of 13024.0
Export from VNM to BLZ of 20039.74
Export from VNM to BRB of 255286.29
Export from VNM to CAN of 149676.0
Export from VNM to CRI of 5099349.49
Export from VNM to CUB of 8763099.95
Export from VNM to DMA of 22584.04
Export from VNM to GRD of 3279.36
Export from VNM to GTM of 1059030.88
Export from VNM to HND of 12529148.88
Export from VNM to JAM of 2858257.54
Export from VNM to KNA of 45719.66
Export from VNM to LCA of 424829.01
Export from VNM to MEX of 177562602.0
Export from VNM to NIC of 2328082.3
Export from VNM to SLV of 6318559.36
Export from VNM to TTO of 1378061.94
Export from VNM to USA of 29233.0
Export from VNM to AUS of 3135415.74
Export from VNM to NCL of 21275.59
Export from VNM to NZL of 53515.48
Export from VNM to PYF of 116900.71
Export from VNM to BOL of 1176075.13
Export from VNM to BRA of 45962032.82
Export from VNM to CHL of 303761.68
Export from VNM to COL of 3992161.06
Export from VNM to ECU of 95172.13
Export from VNM to GUY of 13523.09
Export from VNM to PER of 495198.13
Export from VNM to PRY of 696205.3
Export from VNM to URY of 1176596.89
Export from VNM to VEN of 5497182.49
Export from VNM to BEN of 923912.58
Export from VNM to BFA of 339732.75
Export from VNM to CAF of 33662.13
Export from VNM to CIV of 342503.71
Export from VNM to CMR of 1447.32
Export from VNM to COM of 169353.09
Export from VNM to CPV of 80070.04
Export from VNM to DZA of 3585114.0
Export from VNM to EGY of 35325.64
Export from VNM to ETH of 501999.02
Export from VNM to GAB of 227856.91
Export from VNM to GHA of 65180581.5
Export from VNM to GIN of 616484.95
Export from VNM to GMB of 371102.14
Export from VNM to KEN of 1083817.55
Export from VNM to MDG of 124726.47
Export from VNM to MLI of 123146.91
Export from VNM to MOZ of 80885.04
Export from VNM to MRT of 34069.51
Export from VNM to MUS of 587559.38
Export from VNM to MWI of 51867.93
Export from VNM to NER of 63333.54
Export from VNM to NGA of 2847670.08
Export from VNM to SDN of 1615124.51
Export from VNM to SEN of 168163.2
Export from VNM to SYC of 10416.47
Export from VNM to TGO of 114559.29
Export from VNM to TUN of 1847334.29
Export from VNM to TZA of 80614.69
Export from VNM to UGA of 4438.0
Export from VNM to ZAF of 1308299.35
Export from VNM to ZMB of 20011.34
Export from VNM to AZE of 121619.69
Export from VNM to BGD of 47254536.15
Export from VNM to BHR of 91254.19
Export from VNM to CHN of 26217920.81
Export from VNM to GEO of 117130.0
Export from VNM to HKG of 43790643.67
Export from VNM to IDN of 1180423.16
Export from VNM to IND of 20013906.44
Export from VNM to JOR of 92405.11
Export from VNM to JPN of 250177566.8
Export from VNM to KAZ of 52103.25
Export from VNM to KGZ of 26544.0
Export from VNM to KHM of 3446241.33
Export from VNM to LBN of 24687001.92
Export from VNM to LKA of 49962.41
Export from VNM to MAC of 5220460.0
Export from VNM to MYS of 249418.48
Export from VNM to PHL of 41925.0
Export from VNM to SAU of 55918372.38
Export from VNM to SGP of 1116882.34
Export from VNM to THA of 18577118.5
Export from VNM to ALB of 272794.42
Export from VNM to AND of 151990.19
Export from VNM to AUT of 1958351.52
Export from VNM to BGR of 1741865.92
Export from VNM to BLR of 4361640.5
Export from VNM to BLX of 918639.07
Export from VNM to CHE of 1546267.55
Export from VNM to CZE of 158551.08
Export from VNM to DEU of 24547192.63
Export from VNM to DNK of 1062708.51
Export from VNM to ESP of 63968709.3
Export from VNM to EST of 9720466.2
Export from VNM to FIN of 38821.0
Export from VNM to FRA of 25616110.71
Export from VNM to GBR of 1280770.47
Export from VNM to GRC of 789173.12
Export from VNM to HRV of 261280.03
Export from VNM to HUN of 1685890.77
Export from VNM to IRL of 1988291.13
Export from VNM to ITA of 4550584.37
Export from VNM to LTU of 644814.96
Export from VNM to LVA of 1875.0
Export from VNM to MDA of 21231.0
Export from VNM to MKD of 154586.0
Export from VNM to NLD of 8433049.89
Export from VNM to POL of 5515773.9
Export from VNM to PRT of 184642.27
Export from VNM to ROU of 3522893.79
Export from VNM to RUS of 7551073.04
Export from VNM to SVK of 276363.15
Export from VNM to SVN of 1020370.68
Export from VNM to SWE of 2094237.89
Export from VNM to UKR of 6138360.75
Export from VNM to YUG of 42000.0
Export from VNM to ATG of 1343569.81
Export from VNM to BRB of 26516.75
Export from VNM to CAN of 699913.3
Export from VNM to CRI of 4190878.51
Export from VNM to CUB of 9720045.38
Export from VNM to DMA of 32495.56
Export from VNM to GRD of 1651.0
Export from VNM to GTM of 925645.79
Export from VNM to HND of 2133440.48
Export from VNM to JAM of 2208140.84
Export from VNM to KNA of 201659.17
Export from VNM to LCA of 470374.72
Export from VNM to MEX of 148416214.2
Export from VNM to NIC of 8534370.8
Export from VNM to TTO of 3085604.06
Export from VNM to USA of 129132.0
Export from VNM to VCT of 18795.77
Export from VNM to AUS of 2649738.15
Export from VNM to NCL of 20579.0
Export from VNM to PNG of 103476.78
Export from VNM to PYF of 220959.76
Export from VNM to WLF of 90362.36
Export from VNM to BOL of 2274911.3
Export from VNM to BRA of 116978964.9
Export from VNM to CHL of 440191.15
Export from VNM to COL of 3231282.36
Export from VNM to ECU of 133125.06
Export from VNM to GUY of 36997.03
Export from VNM to PER of 5130138.25
Export from VNM to PRY of 1350328.18
Export from VNM to SUR of 934612.74
Export from VNM to URY of 826252.94
Export from VNM to VEN of 2528233.06
Export from VNM to BDI of 5345.46
Export from VNM to BEN of 1136490.89
Export from VNM to BFA of 96471.87
Export from VNM to CAF of 27858.67
Export from VNM to CIV of 162021.3
Export from VNM to COM of 427021.9
Export from VNM to CPV of 189180.22
Export from VNM to DZA of 5361887.0
Export from VNM to EGY of 1213346.31
Export from VNM to ETH of 843057.88
Export from VNM to GAB of 57075.77
Export from VNM to GHA of 61353.83
Export from VNM to GIN of 95185.97
Export from VNM to GMB of 224838.05
Export from VNM to KEN of 3537588.77
Export from VNM to MDG of 173462.0
Export from VNM to MLI of 448408.9
Export from VNM to MOZ of 197322.71
Export from VNM to MRT of 42007.92
Export from VNM to MUS of 746606.25
Export from VNM to MWI of 98248.35
Export from VNM to NER of 126972.44
Export from VNM to NGA of 6726027.01
Export from VNM to SDN of 1561069.72
Export from VNM to SEN of 211790.9
Export from VNM to TGO of 828523.0
Export from VNM to TUN of 1270255.77
Export from VNM to TZA of 475211.94
Export from VNM to UGA of 19673.0
Export from VNM to ZAF of 1225584.29
Export from VNM to ZMB of 46527.89
Export from VNM to AZE of 155382.07
Export from VNM to BGD of 24114242.13
Export from VNM to BHR of 1356395.16
Export from VNM to BRN of 45632.0
Export from VNM to CHN of 139663597.2
Export from VNM to GEO of 109661.0
Export from VNM to HKG of 35539477.62
Export from VNM to IDN of 2039762.78
Export from VNM to IND of 3643195.49
Export from VNM to JPN of 220848351.4
Export from VNM to KGZ of 19250.0
Export from VNM to KHM of 2548921.62
Export from VNM to KWT of 29984.09
Export from VNM to LBN of 21131491.72
Export from VNM to MAC of 638286.0
Export from VNM to MYS of 972455.63
Export from VNM to SAU of 16064397.07
Export from VNM to SGP of 2932455.33
Export from VNM to THA of 23406266.88
Export from VNM to TUR of 5339562.79
Export from VNM to ALB of 378187.23
Export from VNM to AND of 83448.77
Export from VNM to AUT of 1820800.09
Export from VNM to BGR of 2607115.76
Export from VNM to BLR of 271862.3
Export from VNM to BLX of 2874676.67
Export from VNM to CHE of 805019.81
Export from VNM to CZE of 488449.08
Export from VNM to DEU of 22980726.1
Export from VNM to DNK of 3666396.15
Export from VNM to ESP of 12254393.0
Export from VNM to EST of 143367.22
Export from VNM to FIN of 193838.19
Export from VNM to FRA of 9388773.57
Export from VNM to GBR of 2023654.22
Export from VNM to GRC of 150155.05
Export from VNM to HRV of 564993.05
Export from VNM to HUN of 508046.64
Export from VNM to IRL of 8868038.8
Export from VNM to ITA of 2521431.57
Export from VNM to LTU of 1249832.26
Export from VNM to MDA of 51300.63
Export from VNM to MKD of 8007.0
Export from VNM to NLD of 10724403.32
Export from VNM to POL of 8268743.31
Export from VNM to PRT of 1340.0
Export from VNM to ROU of 859601.49
Export from VNM to RUS of 16499444.35
Export from VNM to SVK of 282860.93
Export from VNM to SVN of 2493257.37
Export from VNM to SWE of 1432293.4
Export from VNM to UKR of 10743271.85
Export from VNM to YUG of 191861.16
Export from VNM to BHS of 148646.27
Export from VNM to BLZ of 85948.83
Export from VNM to BRB of 1457.0
Export from VNM to CAN of 84319.42
Export from VNM to CRI of 2952988.27
Export from VNM to CUB of 2475875.41
Export from VNM to DMA of 34443.38
Export from VNM to GRD of 16407.12
Export from VNM to GTM of 11414571.47
Export from VNM to HND of 2609501.19
Export from VNM to JAM of 965125.97
Export from VNM to KNA of 25347.47
Export from VNM to LCA of 283332.27
Export from VNM to MEX of 90196330.56
Export from VNM to NIC of 11907424.09
Export from VNM to SLV of 162082.43
Export from VNM to TTO of 1584378.94
Export from VNM to USA of 26662.0
Export from VNM to VCT of 31070.82
Export from VNM to AUS of 2187840.21
Export from VNM to NCL of 16748.0
Export from VNM to PNG of 227243.37
Export from VNM to PYF of 86079.67
Export from VNM to WLF of 59769.07
Export from VNM to BOL of 1110811.68
Export from VNM to BRA of 61463495.45
Export from VNM to CHL of 25379567.75
Export from VNM to COL of 5614510.01
Export from VNM to ECU of 9662310.72
Export from VNM to GUY of 18056.09
Export from VNM to PER of 1074760.98
Export from VNM to PRY of 4680992.46
Export from VNM to SUR of 1330154.21
Export from VNM to URY of 1345514.35
Export from VNM to VEN of 32145.0
Export from VNM to BEN of 682903.35
Export from VNM to BFA of 67086.9
Export from VNM to CAF of 10134.0
Export from VNM to CIV of 35982.58
Export from VNM to CMR of 8924.36
Export from VNM to COM of 284929.54
Export from VNM to CPV of 11803.0
Export from VNM to DZA of 10568952.0
Export from VNM to EGY of 569947.51
Export from VNM to ETH of 2068853.95
Export from VNM to GHA of 44120.6
Export from VNM to GIN of 790745.46
Export from VNM to KEN of 2545119.48
Export from VNM to MDG of 31483.99
Export from VNM to MLI of 443054.09
Export from VNM to MOZ of 170648.63
Export from VNM to MRT of 83950.37
Export from VNM to MUS of 472582.44
Export from VNM to NER of 57753.77
Export from VNM to NGA of 10455344.38
Export from VNM to SDN of 583340.61
Export from VNM to SEN of 94079.83
Export from VNM to TGO of 258639.78
Export from VNM to TUN of 1007171.34
Export from VNM to TZA of 312113.93
Export from VNM to UGA of 190525.91
Export from VNM to ZAF of 1265218.64
Export from VNM to ZMB of 4660.0
Export from VNM to AZE of 8393.12
Export from VNM to BGD of 18695931.26
Export from VNM to BHR of 324313.67
Export from VNM to BRN of 97091.16
Export from VNM to CHN of 253114043.1
Export from VNM to GEO of 371422.0
Export from VNM to HKG of 21410467.8
Export from VNM to IDN of 2709565.1
Export from VNM to IND of 4769995.93
Export from VNM to IRN of 57823.0
Export from VNM to ISR of 2882.56
Export from VNM to JOR of 107884.0
Export from VNM to JPN of 231549532.4
Export from VNM to KGZ of 1528.0
Export from VNM to KHM of 1997873.36
Export from VNM to LBN of 7272063.69
Export from VNM to LKA of 97902.75
Export from VNM to MAC of 7347.0
Export from VNM to MYS of 22543.16
Export from VNM to SAU of 61333936.07
Export from VNM to SGP of 763871.75
Export from VNM to THA of 42180515.42
Export from VNM to TUR of 2380890.73
Export from VNM to ALB of 575260.83
Export from VNM to AND of 208738.0
Export from VNM to AUT of 1345732.99
Export from VNM to BGR of 2597776.75
Export from VNM to BLR of 100340.93
Export from VNM to BLX of 1511269.95
Export from VNM to CHE of 892690.52
Export from VNM to CZE of 879292.52
Export from VNM to DEU of 28772159.7
Export from VNM to DNK of 2955105.24
Export from VNM to ESP of 10172489.42
Export from VNM to EST of 66528.35
Export from VNM to FIN of 27830.35
Export from VNM to FRA of 6175598.15
Export from VNM to GBR of 1689294.39
Export from VNM to GRC of 181508.51
Export from VNM to HRV of 562140.85
Export from VNM to HUN of 1130879.83
Export from VNM to IRL of 2290464.42
Export from VNM to ITA of 3227353.37
Export from VNM to LTU of 403925.56
Export from VNM to LVA of 3406.0
Export from VNM to MDA of 51361.11
Export from VNM to MKD of 15791.52
Export from VNM to NLD of 6095702.01
Export from VNM to POL of 7978953.06
Export from VNM to PRT of 21803.0
Export from VNM to ROU of 1591750.62
Export from VNM to RUS of 10823414.19
Export from VNM to SVK of 827783.42
Export from VNM to SVN of 1694042.53
Export from VNM to SWE of 28823.12
Export from VNM to UKR of 5842120.46
Export from VNM to YUG of 476545.36
Export from VNM to BHS of 15261.04
Export from VNM to BLZ of 147656.0
Export from VNM to CAN of 27034.51
Export from VNM to CRI of 2090049.2
Export from VNM to CUB of 1764575.07
Export from VNM to DMA of 29740.51
Export from VNM to DOM of 46923354.01
Export from VNM to HND of 2956306.22
Export from VNM to JAM of 943888.98
Export from VNM to KNA of 6380.67
Export from VNM to MEX of 33588094.07
Export from VNM to NIC of 7146462.78
Export from VNM to SLV of 2031851.43
Export from VNM to TTO of 2284688.41
Export from VNM to USA of 14684.0
Export from VNM to VCT of 16651.98
Export from VNM to AUS of 1632811.91
Export from VNM to FJI of 44522.18
Export from VNM to NCL of 167419.0
Export from VNM to PNG of 15886.48
Export from VNM to PYF of 17886.0
Export from VNM to WLF of 118788.6
Export from VNM to WSM of 70650.15
Export from VNM to ARG of 10078.84
Export from VNM to BOL of 1485198.69
Export from VNM to BRA of 70872322.36
Export from VNM to CHL of 10637957.55
Export from VNM to COL of 4556580.52
Export from VNM to ECU of 188373.44
Export from VNM to GUY of 22982.03
Export from VNM to PER of 11804790.62
Export from VNM to PRY of 2923084.97
Export from VNM to SUR of 662217.95
Export from VNM to URY of 215191.31
Export from VNM to VEN of 930358.57
Export from VNM to BEN of 524670.35
Export from VNM to BFA of 20449.44
Export from VNM to CAF of 1375.0
Export from VNM to CIV of 15198.0
Export from VNM to CMR of 150067.09
Export from VNM to COM of 396703.0
Export from VNM to CPV of 60304.44
Export from VNM to DZA of 4149270.0
Export from VNM to EGY of 14523228.15
Export from VNM to ERI of 28669.23
Export from VNM to ETH of 1452518.15
Export from VNM to GAB of 100471.46
Export from VNM to GHA of 4073367.89
Export from VNM to KEN of 2062412.05
Export from VNM to MDG of 91242.2
Export from VNM to MLI of 227359.0
Export from VNM to MOZ of 47305.0
Export from VNM to MRT of 66210.16
Export from VNM to MUS of 918364.76
Export from VNM to NER of 208166.06
Export from VNM to NGA of 17613332.19
Export from VNM to SDN of 177693.93
Export from VNM to SEN of 302582.44
Export from VNM to STP of 3100.0
Export from VNM to SYC of 7156.0
Export from VNM to TGO of 1750483.62
Export from VNM to TUN of 930641.21
Export from VNM to TZA of 364361.32
Export from VNM to UGA of 93133.32
Export from VNM to ZAF of 536418.87
Export from VNM to ZMB of 13694.0
Export from VNM to ARM of 54196.76
Export from VNM to AZE of 588750.72
Export from VNM to BGD of 6632194.98
Export from VNM to BRN of 5529.3
Export from VNM to CHN of 373113955.1
Export from VNM to GEO of 52010.0
Export from VNM to HKG of 15992750.25
Export from VNM to IDN of 394712.42
Export from VNM to IND of 1003346.36
Export from VNM to JOR of 524934.0
Export from VNM to JPN of 171246309.7

Export from VNM to THA of 49037954.31
Export from VNM to TUR of 2419341.43
Export from VNM to ALB of 322882.13
Export from VNM to AND of 82357.0
Export from VNM to AUT of 1453533.02
Export from VNM to BGR of 2491235.21
Export from VNM to BIH of 1020432.57
Export from VNM to BLR of 76943.3
Export from VNM to BLX of 1369019.0
Export from VNM to CHE of 875065.66
Export from VNM to CZE of 2731002.36
Export from VNM to DEU of 21699164.58
Export from VNM to DNK of 2170445.68
Export from VNM to ESP of 8391461.1
Export from VNM to EST of 219913.95
Export from VNM to FIN of 390965.87
Export from VNM to FRA of 7738581.67
Export from VNM to GBR of 281625.78
Export from VNM to GRC of 80464.0
Export from VNM to HRV of 1027029.83
Export from VNM to HUN of 1740958.64
Export from VNM to IRL of 6332249.59
Export from VNM to ITA of 3531560.06
Export from VNM to LTU of 420696.22
Export from VNM to LVA of 5727.0
Export from VNM to MDA of 25278.3
Export from VNM to MKD of 49994.0
Export from VNM to NLD of 2139821.49
Export from VNM to POL of 5738267.21
Export from VNM to PRT of 16086.0
Export from VNM to ROU of 2765259.14
Export from VNM to RUS of 2906913.56
Export from VNM to SVK of 1714475.35
Export from VNM to SVN of 3600915.4
Export from VNM to SWE of 365982.23
Export from VNM to UKR of 5348743.0
Export from VNM to BLZ of 75094.52
Export from VNM to BRB of 43884.16
Export from VNM to CAN of 39180.91
Export from VNM to CRI of 1667381.02
Export from VNM to CUB of 6151956.26
Export from VNM to DMA of 17979.53
Export from VNM to DOM of 14747317.31
Export from VNM to GRD of 4765.0
Export from VNM to GRL of 28369.0
Export from VNM to HND of 5468134.15
Export from VNM to JAM of 727877.11
Export from VNM to KNA of 37420.94
Export from VNM to MEX of 24118898.33
Export from VNM to NIC of 4882052.28
Export from VNM to SLV of 4599474.28
Export from VNM to TTO of 2114994.83
Export from VNM to USA of 62972.0
Export from VNM to VCT of 26309.07
Export from VNM to AUS of 6571165.1
Export from VNM to FJI of 109575.28
Export from VNM to NCL of 271828.99
Export from VNM to PNG of 20417.6
Export from VNM to PYF of 55056.91
Export from VNM to WLF of 91968.32
Export from VNM to WSM of 53194.11
Export from VNM to BOL of 636988.15
Export from VNM to BRA of 64850962.38
Export from VNM to CHL of 3385427.51
Export from VNM to COL of 18008492.1
Export from VNM to GUY of 99904.0
Export from VNM to PER of 1938755.57
Export from VNM to PRY of 3596381.91
Export from VNM to SUR of 1842954.97
Export from VNM to URY of 223967.74
Export from VNM to BEN of 444240.92
Export from VNM to BFA of 925855.24
Export from VNM to CAF of 139691.15
Export from VNM to CIV of 277322.81
Export from VNM to CMR of 102927.74
Export from VNM to COM of 218003.11
Export from VNM to DZA of 9839247.0
Export from VNM to EGY of 18878129.2
Export from VNM to ETH of 122363.79
Export from VNM to GAB of 556063.33
Export from VNM to GIN of 227003.12
Export from VNM to GNB of 71363.75
Export from VNM to KEN of 2767269.05
Export from VNM to MDG of 250216.61
Export from VNM to MLI of 199087.9
Export from VNM to MOZ of 40233.55
Export from VNM to MRT of 78186.0
Export from VNM to MUS of 1307264.63
Export from VNM to MWI of 238381.0
Export from VNM to NER of 39193.53
Export from VNM to SDN of 708512.45
Export from VNM to SEN of 278840.5
Export from VNM to STP of 15629.13
Export from VNM to SYC of 1072102.11
Export from VNM to TGO of 237518.27
Export from VNM to TUN of 977419.84
Export from VNM to TZA of 411677.59
Export from VNM to UGA of 240906.43
Export from VNM to ZAF of 939673.58
Export from VNM to ZMB of 64979.64
Export from VNM to ZWE of 564553.1
Export from VNM to AZE of 152060.47
Export from VNM to BGD of 8370726.09
Export from VNM to BRN of 115492.11
Export from VNM to CHN of 549498793.9
Export from VNM to CYP of 336421.79
Export from VNM to GEO of 42835.0
Export from VNM to HKG of 19924751.48
Export from VNM to IDN of 6336767.33
Export from VNM to IND of 1472765.1
Export from VNM to ISR of 1000.0
Export from VNM to JOR of 219166.0
Export from VNM to JPN of 161233484.8
Export from VNM to KGZ of 17686.62
Export from VNM to KHM of 1111041.0
Export from VNM to LBN of 7591929.14
Export from VNM to LKA of 48469.55
Export from VNM to MAC of 7660.0
Export from VNM to MNG of 12268.18
Export from VNM to MYS of 12139.97
Export from VNM to OMN of 6689.0
Export from VNM to PAK of 9381883.79
Export from VNM to SGP of 1497429.12
Export from VNM to THA of 89044391.62
Export from VNM to TUR of 4999956.07
Export from VNM to YEM of 8421639.84
Export from VNM to ALB of 697751.82
Export from VNM to AND of 165773.0
Export from VNM to AUT of 1294115.32
Export from VNM to BGR of 2947802.92
Export from VNM to BIH of 494933.12
Export from VNM to BLR of 1832643.22
Export from VNM to BLX of 4980777.03
Export from VNM to CHE of 1004254.17
Export from VNM to CZE of 10292695.45
Export from VNM to DEU of 21748074.78
Export from VNM to DNK of 2157736.56
Export from VNM to ESP of 6615438.59
Export from VNM to EST of 625285.6
Export from VNM to FIN of 5697.0
Export from VNM to FRA of 26840106.72
Export from VNM to GBR of 657531.86
Export from VNM to GRC of 2690869.79
Export from VNM to HRV of 625213.56
Export from VNM to HUN of 404000.0
Export from VNM to IRL of 8942402.77
Export from VNM to ITA of 3886972.99
Export from VNM to LTU of 80623.0
Export from VNM to MDA of 24813.09
Export from VNM to MKD of 272942.06
Export from VNM to NLD of 8035891.67
Export from VNM to POL of 6915368.13
Export from VNM to PRT of 82440.1
Export from VNM to ROU of 1394484.07
Export from VNM to RUS of 4690071.79
Export from VNM to SVK of 450132.1
Export from VNM to SVN of 7385601.5
Export from VNM to SWE of 214791.61
Export from VNM to UKR of 2114187.93
Export from VNM to YUG of 1706277.02
Export from VNM to BRB of 6835.0
Export from VNM to CAN of 10814.0
Export from VNM to CRI of 3166582.81
Export from VNM to CUB of 13024545.04
Export from VNM to DMA of 1757.66
Export from VNM to DOM of 15426781.35
Export from VNM to GRD of 110145.12
Export from VNM to GTM of 2449484.7
Export from VNM to HND of 2512595.43
Export from VNM to JAM of 401058.27
Export from VNM to KNA of 32354.03
Export from VNM to MEX of 45996460.18
Export from VNM to NIC of 8677527.16
Export from VNM to SLV of 4871167.91
Export from VNM to TTO of 1179276.55
Export from VNM to USA of 1500879.0
Export from VNM to VCT of 4561.0
Export from VNM to AUS of 6319449.6
Export from VNM to FJI of 226749.25
Export from VNM to NCL of 61501.0
Export from VNM to PNG of 22192.63
Export from VNM to PYF of 4168.0
Export from VNM to WLF of 301051.64
Export from VNM to WSM of 98065.92
Export from VNM to ARG of 24104.87
Export from VNM to BOL of 669570.0
Export from VNM to BRA of 69139594.33
Export from VNM to CHL of 584752.86
Export from VNM to COL of 12983309.27
Export from VNM to PER of 1710453.37
Export from VNM to PRY of 8220108.43
Export from VNM to SUR of 1461277.68
Export from VNM to URY of 461609.65
Export from VNM to VEN of 259947.0
Export from VNM to BDI of 26071.46
Export from VNM to BEN of 2727503.44
Export from VNM to BFA of 155266.39
Export from VNM to CAF of 43679.17
Export from VNM to CIV of 284648.61
Export from VNM to CMR of 18444.93
Export from VNM to COM of 180153.07
Export from VNM to CPV of 91694.0
Export from VNM to DZA of 6035042.0
Export from VNM to EGY of 9354960.96
Export from VNM to ETH of 5607452.0
Export from VNM to GAB of 1239804.03
Export from VNM to GHA of 871937.82
Export from VNM to GIN of 436431.35
Export from VNM to GNB of 56482.71
Export from VNM to KEN of 3872108.14
Export from VNM to MDG of 44142.71
Export from VNM to MLI of 1022059.85
Export from VNM to MOZ of 505219.57
Export from VNM to MRT of 75414.95
Export from VNM to MUS of 1514710.21
Export from VNM to MWI of 50265.39
Export from VNM to NER of 149302.0
Export from VNM to RWA of 188291.5
Export from VNM to SDN of 324316.83
Export from VNM to SEN of 277732.86
Export from VNM to SYC of 1283672.06
Export from VNM to TGO of 881933.59
Export from VNM to TUN of 1836347.44
Export from VNM to TZA of 55445.42
Export from VNM to UGA of 3531834.47
Export from VNM to ZAF of 10328556.0
Export from VNM to ZMB of 311963.07
Export from VNM to ZWE of 62261.03
Export from VNM to ARE of 998678.43
Export from VNM to AZE of 691514.36
Export from VNM to BGD of 5706482.62
Export from VNM to CHN of 453596051.6
Export from VNM to CYP of 1403991.16
Export from VNM to GEO of 93812.0
Export from VNM to HKG of 14375300.21
Export from VNM to IDN of 8102025.24
Export from VNM to IND of 8071326.81
Export from VNM to IRN of 516713.69
Export from VNM to JOR of 211670.0
Export from VNM to JPN of 128286955.2
Export from VNM to KAZ of 1613799.72
Export from VNM to KGZ of 973958.18
Export from VNM to KHM of 3276940.14
Export from VNM to LBN of 7528126.96
Export from VNM to LKA of 41021.0
Export from VNM to MAC of 106805.0
Export from VNM to MNG of 32773.71
Export from VNM to MYS of 134363.35
Export from VNM to PAK of 12063239.79
Export from VNM to QAT of 21155705.79
Export from VNM to SAU of 35421929.12
Export from VNM to SGP of 6441628.63
Export from VNM to SYR of 782304.9
Export from VNM to THA of 130178155.4
Export from VNM to TLS of 4071.0
Export from VNM to TUR of 2773190.98
Export from VNM to YEM of 2393902.38
Export from VNM to ALB of 358094.75
Export from VNM to AUT of 722096.16
Export from VNM to BGR of 4564067.52
Export from VNM to BIH of 804538.14
Export from VNM to BLR of 2067537.45
Export from VNM to BLX of 349783.36
Export from VNM to CHE of 1318701.34
Export from VNM to CZE of 4123707.9
Export from VNM to DEU of 27811902.63
Export from VNM to DNK of 1692727.37
Export from VNM to ESP of 13740842.04
Export from VNM to EST of 263091.3
Export from VNM to FIN of 156347.0
Export from VNM to FRA of 29832615.19
Export from VNM to GBR of 1797558.56
Export from VNM to GRC of 883103.12
Export from VNM to HRV of 462519.27
Export from VNM to HUN of 270000.0
Export from VNM to IRL of 9211811.07
Export from VNM to ITA of 683738.34
Export from VNM to LTU of 33283.84
Export from VNM to MDA of 34050.04
Export from VNM to MKD of 664131.04
Export from VNM to NLD of 3579322.19
Export from VNM to POL of 29448810.2
Export from VNM to PRT of 36223.0
Export from VNM to ROU of 2354233.45
Export from VNM to RUS of 6810603.72
Export from VNM to SRB of 1533131.58
Export from VNM to SVK of 355983.19
Export from VNM to SVN of 4051881.78
Export from VNM to SWE of 212713.0
Export from VNM to UKR of 2071364.67
Export from VNM to ATG of 1311463.26
Export from VNM to BRB of 1127107.52
Export from VNM to CAN of 20427.42
Export from VNM to CRI of 2205486.27
Export from VNM to CUB of 2912519.04
Export from VNM to DMA of 3939.0
Export from VNM to DOM of 55647836.39
Export from VNM to GRD of 65306.77
Export from VNM to GTM of 8319501.57
Export from VNM to HND of 6001420.51
Export from VNM to JAM of 1713583.36
Export from VNM to KNA of 23827.15
Export from VNM to MEX of 66982862.5
Export from VNM to NIC of 5670137.44
Export from VNM to SLV of 6382091.31
Export from VNM to TTO of 3365161.99
Export from VNM to USA of 3289.0
Export from VNM to VCT of 77670.63
Export from VNM to AUS of 9741221.81
Export from VNM to FJI of 140692.24
Export from VNM to NCL of 799499.69
Export from VNM to PYF of 100704.78
Export from VNM to WLF of 91260.47
Export from VNM to WSM of 55125.49
Export from VNM to BOL of 306855.47
Export from VNM to BRA of 69942990.69
Export from VNM to CHL of 185223.2
Export from VNM to COL of 2585593.78
Export from VNM to ECU of 85662.0
Export from VNM to GUY of 39881.23
Export from VNM to PER of 2317372.06
Export from VNM to PRY of 10334996.77
Export from VNM to SUR of 2834902.42
Export from VNM to URY of 315790.04
Export from VNM to VEN of 5534778.07
Export from VNM to BDI of 73678.48
Export from VNM to BEN of 274064.4
Export from VNM to CIV of 4596.0
Export from VNM to COM of 392405.46
Export from VNM to CPV of 50745.0
Export from VNM to DZA of 3242522.0
Export from VNM to EGY of 2126108.25
Export from VNM to ETH of 3866334.47
Export from VNM to GAB of 1741588.63
Export from VNM to GHA of 407612.0
Export from VNM to GIN of 69315.15
Export from VNM to KEN of 932998.26
Export from VNM to MDG of 147581.51
Export from VNM to MLI of 90144.04
Export from VNM to MOZ of 123628.88
Export from VNM to MRT of 121368.96
Export from VNM to MUS of 653661.18
Export from VNM to MWI of 1026857.3
Export from VNM to NER of 762580.98
Export from VNM to NGA of 62705293.69
Export from VNM to RWA of 660193.16
Export from VNM to SDN of 1598992.54
Export from VNM to SEN of 240083.06
Export from VNM to SYC of 1618936.5
Export from VNM to TUN of 4448119.61
Export from VNM to TZA of 9160.0
Export from VNM to UGA of 1573181.95
Export from VNM to ZAF of 1329255.0
Export from VNM to ZMB of 96360.36
Export from VNM to ZWE of 288573.92
Export from VNM to AZE of 145323.0
Export from VNM to BGD of 3349957.32
Export from VNM to BHR of 42432.26
Export from VNM to BRN of 71471.03
Export from VNM to BTN of 14780.0
Export from VNM to CHN of 400140046.2
Export from VNM to CYP of 96917.97
Export from VNM to GEO of 344853.0
Export from VNM to HKG of 9999455.16
Export from VNM to IDN of 538080.65
Export from VNM to IND of 471521874.8
Export from VNM to JOR of 261181.0
Export from VNM to JPN of 75216461.03
Export from VNM to KAZ of 1110141.91
Export from VNM to KGZ of 50126.37
Export from VNM to KHM of 4171444.7
Export from VNM to LBN of 5528157.61
Export from VNM to LKA of 445953.9
Export from VNM to MNG of 58756.72
Export from VNM to MYS of 422800.98
Export from VNM to PAK of 13283373.97
Export from VNM to QAT of 6683566.89
Export from VNM to SAU of 28690256.81
Export from VNM to SGP of 6180241.32
Export from VNM to SYR of 336086.16
Export from VNM to THA of 144342884.1
Export from VNM to TUR of 2710870.54
Export from VNM to YEM of 3750102.48
Export from VNM to ALB of 138588.19
Export from VNM to AUT of 1090083.55
Export from VNM to BGR of 3229551.73
Export from VNM to BIH of 540307.25
Export from VNM to BLR of 1895446.17
Export from VNM to BLX of 565393.41
Export from VNM to CHE of 794386.21
Export from VNM to CZE of 3374038.07
Export from VNM to DEU of 16887897.29
Export from VNM to DNK of 2780309.75
Export from VNM to ESP of 11403758.01
Export from VNM to EST of 378392.37
Export from VNM to FIN of 430664.99
Export from VNM to FRA of 7324873.34
Export from VNM to GBR of 1586295.66
Export from VNM to GRC of 79747725.93
Export from VNM to HRV of 819883.76
Export from VNM to HUN of 163000.0
Export from VNM to IRL of 336239.83
Export from VNM to ITA of 1496690.11
Export from VNM to LTU of 17308.3
Export from VNM to MDA of 40244.51
Export from VNM to MKD of 1281116.37
Export from VNM to MNE of 88741.0
Export from VNM to NLD of 32581126.92
Export from VNM to POL of 13361977.84
Export from VNM to PRT of 56286.0
Export from VNM to ROU of 1290128.16
Export from VNM to RUS of 19739891.94
Export from VNM to SRB of 1383521.37
Export from VNM to SVK of 1115070.06
Export from VNM to SVN of 3954178.23
Export from VNM to SWE of 1018995.75
Export from VNM to UKR of 1867136.53
Export from VNM to ATG of 266832.89
Export from VNM to BLZ of 18174.0
Export from VNM to BRB of 1479066.27
Export from VNM to CAN of 43075.53
Export from VNM to CRI of 2783199.94
Export from VNM to CUB of 2567237.46
Export from VNM to DMA of 9068.25
Export from VNM to DOM of 46645272.42
Export from VNM to GRD of 270710.5
Export from VNM to GRL of 5424.0
Export from VNM to GTM of 2263014.72
Export from VNM to HND of 5888417.37
Export from VNM to JAM of 2241814.95
Export from VNM to KNA of 44143.27
Export from VNM to LCA of 72754.22
Export from VNM to MEX of 51306977.74
Export from VNM to MSR of 21303.85
Export from VNM to NIC of 2336087.49
Export from VNM to SLV of 5413322.48
Export from VNM to TTO of 1747495.74
Export from VNM to VCT of 111885.26
Export from VNM to AUS of 11006197.08
Export from VNM to FJI of 18518.06
Export from VNM to NCL of 291117.28
Export from VNM to PYF of 52353.26
Export from VNM to VUT of 64217.23
Export from VNM to WLF of 275519.29
Export from VNM to WSM of 88429.71
Export from VNM to BOL of 329068.48
Export from VNM to BRA of 88670244.92
Export from VNM to CHL of 318488.08
Export from VNM to COL of 8356257.72
Export from VNM to ECU of 263945.45
Export from VNM to PER of 1274616.71
Export from VNM to PRY of 22210323.96
Export from VNM to SUR of 2863814.24
Export from VNM to URY of 418117.04
Export from VNM to BDI of 29575.35
Export from VNM to BEN of 5041918.94
Export from VNM to BFA of 6567818.34
Export from VNM to CAF of 27753.88
Export from VNM to CIV of 117403.74
Export from VNM to CMR of 22941.0
Export from VNM to COG of 14033.0
Export from VNM to COM of 160625.0
Export from VNM to CPV of 38236.0
Export from VNM to DZA of 19500454.0
Export from VNM to EGY of 284054.23
Export from VNM to ETH of 10118091.97
Export from VNM to GAB of 2945181.72
Export from VNM to GHA of 198766.88
Export from VNM to GIN of 276107.32
Export from VNM to KEN of 609561.79
Export from VNM to MDG of 450577.75
Export from VNM to MLI of 374180.8
Export from VNM to MOZ of 179023.25
Export from VNM to MRT of 248437.44
Export from VNM to MUS of 1992440.75
Export from VNM to MWI of 118326.68
Export from VNM to NER of 6175482.18
Export from VNM to NGA of 52511015.22
Export from VNM to RWA of 98242.08
Export from VNM to SDN of 17799.39
Export from VNM to SEN of 384920.45
Export from VNM to SYC of 3680901.85
Export from VNM to TGO of 11053.83
Export from VNM to TUN of 1021788.16
Export from VNM to TZA of 1342540.12
Export from VNM to UGA of 965245.9
Export from VNM to ZAF of 2994757.0
Export from VNM to ZMB of 113126.5
Export from VNM to ZWE of 256677.62
Export from VNM to ARE of 47033.21
Export from VNM to ARM of 48930.0
Export from VNM to BGD of 1283115.53
Export from VNM to BTN of 1155.0
Export from VNM to CHN of 521201927.9
Export from VNM to CYP of 151144.42
Export from VNM to GEO of 456269.0
Export from VNM to HKG of 17835615.72
Export from VNM to IDN of 2623803.21
Export from VNM to IND of 157320734.3
Export from VNM to ISR of 20000.0
Export from VNM to KAZ of 904771.56
Export from VNM to KGZ of 48531.14
Export from VNM to KHM of 185098.29
Export from VNM to LBN of 4516884.68
Export from VNM to LKA of 368081.41
Export from VNM to MNG of 116193.2
Export from VNM to MYS of 796280.59
Export from VNM to PAK of 18100472.48
Export from VNM to PSE of 6258950.73
Export from VNM to QAT of 5194057.56
Export from VNM to SAU of 30524208.58
Export from VNM to SGP of 904713.89
Export from VNM to SYR of 44946347.11
Export from VNM to THA of 33273124.36
Export from VNM to TUR of 1502181.31
Export from VNM to YEM of 1573280.24
Export from VNM to ALB of 191219.0
Export from VNM to AUT of 1766102.86
Export from VNM to BGR of 11121720.84
Export from VNM to BIH of 812562.53
Export from VNM to BLR of 2309934.64
Export from VNM to BLX of 1039893.39
Export from VNM to CHE of 428599.7
Export from VNM to CZE of 4759836.55
Export from VNM to DEU of 15069253.72
Export from VNM to DNK of 1344332.65
Export from VNM to ESP of 5366637.05
Export from VNM to EST of 629656.53
Export from VNM to FIN of 2125677.92
Export from VNM to FRA of 12406792.32
Export from VNM to GBR of 4605692.92
Export from VNM to GRC of 445836.68
Export from VNM to HRV of 386247.51
Export from VNM to IRL of 3243801.66
Export from VNM to ITA of 670144.32
Export from VNM to LTU of 101011.93
Export from VNM to MDA of 289495.55
Export from VNM to MKD of 1586454.64
Export from VNM to MNE of 470693.0
Export from VNM to NLD of 38639630.02
Export from VNM to POL of 13978581.51
Export from VNM to PRT of 215343.22
Export from VNM to ROU of 45155.63
Export from VNM to RUS of 33374379.93
Export from VNM to SRB of 1892246.03
Export from VNM to SVK of 1160331.24

Export from VNM to SVN of 7448834.28
Export from VNM to SWE of 19291.0
Export from VNM to UKR of 6020531.47
Export from VNM to ATG of 72865.87
Export from VNM to BLZ of 85393.0
Export from VNM to BRB of 594110.93
Export from VNM to CAN of 50541.67
Export from VNM to CRI of 1017308.57
Export from VNM to DMA of 2668.07
Export from VNM to DOM of 59163434.17
Export from VNM to GRL of 14372.0
Export from VNM to GTM of 111576.2
Export from VNM to HND of 4269311.28
Export from VNM to JAM of 3059414.69
Export from VNM to KNA of 132137.28
Export from VNM to LCA of 2221.0
Export from VNM to MEX of 36717514.66
Export from VNM to MSR of 27796.0
Export from VNM to NIC of 4911761.49
Export from VNM to SLV of 5634120.61
Export from VNM to TTO of 4229286.51
Export from VNM to VCT of 78461.31
Export from VNM to AUS of 6235238.29
Export from VNM to COK of 79818.0
Export from VNM to FJI of 271310.55
Export from VNM to NCL of 333868.67
Export from VNM to PYF of 87598.62
Export from VNM to WSM of 16308.0
Export from VNM to BOL of 560584.95
Export from VNM to BRA of 82750344.38
Export from VNM to CHL of 150719.71
Export from VNM to COL of 8296268.17
Export from VNM to ECU of 71236.48
Export from VNM to GUY of 31277.39
Export from VNM to PER of 1786487.81
Export from VNM to PRY of 21426339.27
Export from VNM to SUR of 4528893.8
Export from VNM to URY of 615072.91
Export from VNM to VEN of 211563768.5
Export from VNM to BDI of 65784.24
Export from VNM to BEN of 545734.62
Export from VNM to BFA of 2400152.42
Export from VNM to CAF of 109649.96
Export from VNM to CIV of 3478826.04
Export from VNM to CMR of 260854.89
Export from VNM to COG of 266156.33
Export from VNM to COM of 248219.5
Export from VNM to CPV of 28247.0
Export from VNM to DZA of 24745809.0
Export from VNM to EGY of 32676798.52
Export from VNM to ETH of 8199696.73
Export from VNM to GAB of 3555158.03
Export from VNM to GHA of 4553382.04
Export from VNM to GIN of 91342.6
Export from VNM to KEN of 653419.79
Export from VNM to MDG of 170693.39
Export from VNM to MLI of 395949.36
Export from VNM to MOZ of 2962231.96
Export from VNM to MRT of 289750.26
Export from VNM to MUS of 1566448.8
Export from VNM to MWI of 35780.0
Export from VNM to NER of 11802783.61
Export from VNM to NGA of 1594035.85
Export from VNM to RWA of 99070.6
Export from VNM to SEN of 611372.58
Export from VNM to SYC of 2848919.79
Export from VNM to TGO of 661323.22
Export from VNM to TUN of 6698027.14
Export from VNM to TZA of 239625.71
Export from VNM to UGA of 939715.89
Export from VNM to ZAF of 3383021.0
Export from VNM to ZWE of 43378.75
Export from VNM to AFG of 2971037.11
Export from VNM to ARE of 25369731.61
Export from VNM to ARM of 46222.0
Export from VNM to AZE of 14568.32
Export from VNM to CHN of 680214974.2
Export from VNM to CYP of 35895.0
Export from VNM to GEO of 1710621.0
Export from VNM to HKG of 24424722.14
Export from VNM to IDN of 7705533.98
Export from VNM to IND of 91171016.14
Export from VNM to ISR of 9000.0
Export from VNM to KAZ of 631495.88
Export from VNM to KHM of 764428.56
Export from VNM to KWT of 10162537.0
Export from VNM to LBN of 7513786.33
Export from VNM to LKA of 119241.0
Export from VNM to MAC of 7406.0
Export from VNM to MYS of 1527807.95
Export from VNM to PAK of 12367486.74
Export from VNM to PSE of 33268.0
Export from VNM to QAT of 68719932.68
Export from VNM to SAU of 19758176.41
Export from VNM to SGP of 267239.66
Export from VNM to SYR of 2507831.84
Export from VNM to THA of 26141317.54
Export from VNM to TUR of 48331068.94
Export from VNM to YEM of 1397140.78
Export from VNM to ALB of 1114025.39
Export from VNM to AUT of 348179.17
Export from VNM to BGR of 13699935.83
Export from VNM to BIH of 332624.14
Export from VNM to BLR of 3011361.11
Export from VNM to BLX of 5074301.92
Export from VNM to CHE of 197250.0
Export from VNM to CZE of 8035461.96
Export from VNM to DEU of 21474234.05
Export from VNM to DNK of 400723.61
Export from VNM to ESP of 5445197.07
Export from VNM to EST of 844344.54
Export from VNM to FIN of 976996.89
Export from VNM to FRA of 6197308.43
Export from VNM to GBR of 5644119.32
Export from VNM to GRC of 90882058.01
Export from VNM to HRV of 637398.27
Export from VNM to HUN of 33000.0
Export from VNM to IRL of 2271513.48
Export from VNM to ITA of 3464264.71
Export from VNM to LTU of 66147.24
Export from VNM to MDA of 850490.81
Export from VNM to MKD of 1893333.84
Export from VNM to MNE of 643786.92
Export from VNM to NLD of 18379018.74
Export from VNM to POL of 92858781.89
Export from VNM to ROU of 153402.74
Export from VNM to RUS of 13733347.77
Export from VNM to SRB of 12289368.88
Export from VNM to SVK of 7959650.09
Export from VNM to SVN of 5730334.48
Export from VNM to SWE of 19551.0
Export from VNM to UKR of 8214875.5
Export from VNM to BLZ of 12874.0
Export from VNM to BRB of 306069.31
Export from VNM to CAN of 52817.56
Export from VNM to CRI of 6704309.95
Export from VNM to DOM of 58152439.7
Export from VNM to GTM of 116500.0
Export from VNM to JAM of 2075214.44
Export from VNM to KNA of 184798.64
Export from VNM to LCA of 1636.0
Export from VNM to MEX of 19032569.31
Export from VNM to NIC of 5682117.44
Export from VNM to SLV of 2319289.28
Export from VNM to TTO of 8285045.25
Export from VNM to VCT of 5316.08
Export from VNM to AUS of 5590410.49
Export from VNM to FJI of 1395208.51
Export from VNM to NCL of 398846.55
Export from VNM to PYF of 22721.6
Export from VNM to TON of 26823.0
Export from VNM to WSM of 118304.35
Export from VNM to BOL of 957768.09
Export from VNM to BRA of 171031134.3
Export from VNM to CHL of 289059.36
Export from VNM to COL of 15369515.99
Export from VNM to ECU of 1374824.96
Export from VNM to GUY of 686538.66
Export from VNM to PER of 19250262.48
Export from VNM to PRY of 34275715.38
Export from VNM to SUR of 7615177.92
Export from VNM to URY of 1620367.03
Export from VNM to VEN of 204705338.0
Export from VNM to BDI of 150245.21
Export from VNM to BEN of 4310699.22
Export from VNM to BFA of 47321.06
Export from VNM to CAF of 25223.45
Export from VNM to CIV of 790123.27
Export from VNM to CMR of 11480.0
Export from VNM to COG of 231147.73
Export from VNM to COM of 242849.56
Export from VNM to DZA of 9896731.0
Export from VNM to EGY of 28006161.28
Export from VNM to ETH of 6539840.59
Export from VNM to GAB of 1434884.94
Export from VNM to GHA of 2154360.33
Export from VNM to KEN of 1204644.18
Export from VNM to MDG of 25173.4
Export from VNM to MOZ of 770775.52
Export from VNM to MRT of 599283.21
Export from VNM to MUS of 326780.43
Export from VNM to MWI of 107270.91
Export from VNM to NER of 16697799.42
Export from VNM to RWA of 601342.67
Export from VNM to SDN of 677739.82
Export from VNM to SEN of 1221325.93
Export from VNM to STP of 21947.78
Export from VNM to TGO of 174915.26
Export from VNM to TUN of 1264022.85
Export from VNM to TZA of 117661.32
Export from VNM to UGA of 859887.25
Export from VNM to ZAF of 1385754.17
Export from VNM to ZMB of 89485.25
Export from VNM to ZWE of 125840.58
Export from VNM to ARM of 66476.82
Export from VNM to BTN of 712358.59
Export from VNM to CHN of 714875177.3
Export from VNM to CYP of 37850.15
Export from VNM to GEO of 293168.0
Export from VNM to HKG of 23492203.53
Export from VNM to IDN of 7214379.96
Export from VNM to IND of 5726597.11
Export from VNM to ISR of 7838.62
Export from VNM to KAZ of 1029154.61
Export from VNM to KHM of 1461675.53
Export from VNM to LBN of 6816713.48
Export from VNM to LKA of 384516.48
Export from VNM to MAC of 1928.0
Export from VNM to MYS of 181273.05
Export from VNM to NPL of 3561955.69
Export from VNM to PAK of 8645578.76
Export from VNM to PSE of 240324.24
Export from VNM to SAU of 43033218.28
Export from VNM to SGP of 741460.75
Export from VNM to SYR of 1136019.5
Export from VNM to THA of 12224628.55
Export from VNM to TUR of 2205166.86
Export from VNM to YEM of 1885217.51
Export from VNM to ALB of 202617.56
Export from VNM to AUT of 480419.51
Export from VNM to BGR of 8103150.86
Export from VNM to BIH of 97416.55
Export from VNM to BLR of 3734458.99
Export from VNM to BLX of 2533308.82
Export from VNM to CHE of 883701.0
Export from VNM to CZE of 7044361.32
Export from VNM to DEU of 52033434.23
Export from VNM to DNK of 332570.53
Export from VNM to ESP of 5259253.08
Export from VNM to EST of 227807.0
Export from VNM to FIN of 249158.52
Export from VNM to FRA of 9537220.41
Export from VNM to GBR of 1154323.09
Export from VNM to GRC of 1151413.9
Export from VNM to HRV of 494883.23
Export from VNM to IRL of 1136419.81
Export from VNM to ITA of 786820.51
Export from VNM to LTU of 8231.44
Export from VNM to MDA of 554333.22
Export from VNM to MKD of 715735.99
Export from VNM to MNE of 165821.0
Export from VNM to NLD of 20229836.47
Export from VNM to POL of 34602662.68
Export from VNM to PRT of 442475.0
Export from VNM to ROU of 3105.0
Export from VNM to RUS of 7605684.66
Export from VNM to SRB of 669929.35
Export from VNM to SVK of 5948523.09
Export from VNM to SVN of 1925709.13
Export from VNM to SWE of 156355.16
Export from VNM to UKR of 725611.56
Export from VNM to ATG of 957033.93
Export from VNM to BLZ of 16229.39
Export from VNM to BRB of 329640.85
Export from VNM to CAN of 62916.57
Export from VNM to CRI of 1214219.31
Export from VNM to DMA of 11102.22
Export from VNM to DOM of 17674217.04
Export from VNM to GRL of 1253.0
Export from VNM to GTM of 1288054.08
Export from VNM to HND of 2396346.78
Export from VNM to JAM of 1898934.49
Export from VNM to KNA of 336732.72
Export from VNM to MEX of 10708684.69
Export from VNM to NIC of 3175496.48
Export from VNM to SLV of 785966.34
Export from VNM to TTO of 1814975.89
Export from VNM to VCT of 73801.43
Export from VNM to AUS of 3491600.54
Export from VNM to FJI of 1003665.82
Export from VNM to NCL of 560506.97
Export from VNM to PYF of 10269.11
Export from VNM to TON of 33203.36
Export from VNM to VUT of 106140.9
Export from VNM to WSM of 124646.24
Export from VNM to BOL of 748373.81
Export from VNM to BRA of 93195453.25
Export from VNM to CHL of 644283.96
Export from VNM to COL of 10381071.72
Export from VNM to ECU of 187892.06
Export from VNM to GUY of 1132455.98
Export from VNM to PER of 18156777.83
Export from VNM to PRY of 21274738.71
Export from VNM to SUR of 1504884.53
Export from VNM to URY of 736154.07
Export from VNM to VEN of 37263503.92
Export from VNM to BDI of 15069.65
Export from VNM to BEN of 4060703.11
Export from VNM to BFA of 116701.08
Export from VNM to CAF of 50781.02
Export from VNM to CIV of 1094775.09
Export from VNM to CMR of 8943.0
Export from VNM to COG of 232605.48
Export from VNM to DZA of 8343776.0
Export from VNM to EGY of 65348427.75
Export from VNM to ETH of 4106654.81
Export from VNM to GHA of 253020.75
Export from VNM to GMB of 189801.09
Export from VNM to KEN of 189423.88
Export from VNM to MDG of 67447.42
Export from VNM to MLI of 258629.2
Export from VNM to MOZ of 49352.05
Export from VNM to MRT of 664090.67
Export from VNM to MUS of 114174.8
Export from VNM to MWI of 34709.49
Export from VNM to NER of 8942072.08
Export from VNM to SDN of 184481.96
Export from VNM to SEN of 441529.55
Export from VNM to TGO of 170667.84
Export from VNM to TUN of 2044669.12
Export from VNM to TZA of 7400593.08
Export from VNM to UGA of 766755.0
Export from VNM to ZAF of 1445092.0
Export from VNM to ZMB of 560733.69
Export from VNM to ZWE of 244199.24
Export from VNM to ARM of 1978.0
Export from VNM to BHR of 31486.09
Export from VNM to CHN of 1099892718.0
Export from VNM to CYP of 113645.05
Export from VNM to GEO of 85836.0
Export from VNM to HKG of 2685714.0
Export from VNM to IDN of 7158927.21
Export from VNM to IND of 44492203.78
Export from VNM to JOR of 8605.28
Export from VNM to KAZ of 546381.79
Export from VNM to KHM of 1742064.04
Export from VNM to LBN of 4297142.65
Export from VNM to LKA of 34978492.62
Export from VNM to MAC of 2874.0
Export from VNM to NPL of 1392413.66
Export from VNM to PAK of 18159089.18
Export from VNM to PSE of 153895.44
Export from VNM to QAT of 1878219.75
Export from VNM to SAU of 24367933.15
Export from VNM to SGP of 546429.14
Export from VNM to SYR of 161942.0
Export from VNM to THA of 18559948.09
Export from VNM to TUR of 4369741.42
Export from VNM to YEM of 1071730.67
Export from VNM to ALB of 533278.3
Export from VNM to AUT of 539962.91
Export from VNM to BGR of 61515.5
Export from VNM to BIH of 245436.18
Export from VNM to BLR of 7106836.49
Export from VNM to BLX of 2311268.95
Export from VNM to CHE of 876938.0
Export from VNM to CZE of 4063105.47
Export from VNM to DEU of 33728811.97
Export from VNM to DNK of 522710.36
Export from VNM to ESP of 3573236.81
Export from VNM to EST of 133124.4
Export from VNM to FIN of 627795.28
Export from VNM to FRA of 6779568.87
Export from VNM to GBR of 2433451.76
Export from VNM to GRC of 1151064.51
Export from VNM to HRV of 471240.09
Export from VNM to HUN of 1000.0
Export from VNM to IRL of 1855799.97
Export from VNM to ITA of 982456.02
Export from VNM to LVA of 5647.04
Export from VNM to MDA of 177805.01
Export from VNM to MKD of 647916.78
Export from VNM to MNE of 242028.0
Export from VNM to NLD of 79536661.26
Export from VNM to POL of 16443180.6
Export from VNM to PRT of 125019.0
Export from VNM to ROU of 262914.31
Export from VNM to RUS of 15749870.64
Export from VNM to SRB of 1286266.34
Export from VNM to SVK of 4002957.2
Export from VNM to SVN of 2928459.56
Export from VNM to SWE of 487463.1
Export from VNM to UKR of 2449715.96
Export from VNM to ATG of 1281461.78
Export from VNM to BMU of 17325.95
Export from VNM to BRB of 301369.21
Export from VNM to CAN of 81754.35
Export from VNM to CRI of 1607532.62
Export from VNM to DMA of 39428.75
Export from VNM to DOM of 16259736.08
Export from VNM to GTM of 274248.2
Export from VNM to HND of 4251766.54
Export from VNM to JAM of 2053732.76
Export from VNM to KNA of 13097.95
Export from VNM to MEX of 22107916.8
Export from VNM to NIC of 797184.2
Export from VNM to SLV of 796432.68
Export from VNM to TTO of 1095124.16
Export from VNM to USA of 8763.0
Export from VNM to VCT of 31536.0
Export from VNM to AUS of 6239390.23
Export from VNM to FJI of 165429.51
Export from VNM to NCL of 519453.03
Export from VNM to PYF of 1316.0
Export from VNM to SLB of 101309.0
Export from VNM to VUT of 19739.0
Export from VNM to WSM of 480925.02
Export from VNM to BOL of 4897116.11
Export from VNM to BRA of 116127452.3
Export from VNM to CHL of 259381.99
Export from VNM to COL of 11695561.88
Export from VNM to ECU of 401880.85
Export from VNM to GUY of 2367616.3
Export from VNM to PRY of 19750000.79
Export from VNM to SUR of 7730441.92
Export from VNM to URY of 750142.56
Export from VNM to VEN of 42064138.58
Export from VNM to BDI of 116970.94
Export from VNM to BFA of 91802.07
Export from VNM to CAF of 2152.48
Export from VNM to CIV of 2989865.53
Export from VNM to CMR of 185039.86
Export from VNM to DZA of 15341407.0
Export from VNM to EGY of 23326338.35
Export from VNM to ETH of 6305531.35
Export from VNM to GHA of 4763460.08
Export from VNM to GMB of 91873.68
Export from VNM to MDG of 379149.1
Export from VNM to MLI of 290584.06
Export from VNM to MOZ of 978987.21
Export from VNM to MRT of 1131337.07
Export from VNM to MUS of 557880.1
Export from VNM to MWI of 41420.81
Export from VNM to NER of 3643454.53
Export from VNM to RWA of 142247.21
Export from VNM to SDN of 85952.99
Export from VNM to SEN of 970636.97
Export from VNM to TGO of 134622.1
Export from VNM to TUN of 1158144.46
Export from VNM to TZA of 4350955.85
Export from VNM to UGA of 527254.28
Export from VNM to ZAF of 3574213.0
Export from VNM to ZMB of 349298.12
Export from VNM to ZWE of 1451707.45
Export from VNM to ARM of 9156.0
Export from VNM to AZE of 26340.49
Export from VNM to BHR of 234077859.5
Export from VNM to CHN of 2269788031.0
Export from VNM to CYP of 36903.13
Export from VNM to GEO of 5104668.0
Export from VNM to HKG of 3483032.0
Export from VNM to IDN of 29780747.3
Export from VNM to IND of 9354073.88
Export from VNM to KHM of 26464.89
Export from VNM to LBN of 3486500.77
Export from VNM to LKA of 3295653.67
Export from VNM to NPL of 1072402.92
Export from VNM to PAK of 24788613.08
Export from VNM to PSE of 824724.05
Export from VNM to SAU of 32263753.44
Export from VNM to THA of 11709172.98
Export from VNM to TUR of 3396989.96
Export from VNM to YEM of 648142.98
Export from VNM to ALB of 271028.26
Export from VNM to AUT of 448231.82
Export from VNM to BGR of 271749.25
Export from VNM to BIH of 152052.48
Export from VNM to BLR of 2676776.33
Export from VNM to BLX of 3181415.39
Export from VNM to CHE of 971402.0
Export from VNM to CZE of 7294046.41
Export from VNM to DEU of 49997666.54
Export from VNM to DNK of 1416682.19
Export from VNM to ESP of 3670122.72
Export from VNM to EST of 55175.96
Export from VNM to FIN of 5222.0
Export from VNM to FRA of 11500131.25
Export from VNM to GBR of 5210715.75
Export from VNM to GRC of 1226165.91
Export from VNM to HRV of 234087.0
Export from VNM to IRL of 1444250.95
Export from VNM to ITA of 595277.22
Export from VNM to LTU of 6922.0
Export from VNM to MDA of 72125.43
Export from VNM to MKD of 319616.98
Export from VNM to MNE of 155729.3
Export from VNM to NLD of 89812983.57
Export from VNM to POL of 10661970.99
Export from VNM to PRT of 63764.87
Export from VNM to ROU of 449282.9
Export from VNM to RUS of 13933284.63
Export from VNM to SRB of 4582149.5
Export from VNM to SVK of 3751233.64
Export from VNM to SVN of 1354699.5
Export from VNM to SWE of 593316.8
Export from VNM to UKR of 555257.72
Export from VNM to ATG of 1492753.91
Export from VNM to BHS of 103946.0
Export from VNM to BLZ of 164194.23
Export from VNM to BMU of 87790.0
Export from VNM to BRB of 116228.42
Export from VNM to CAN of 36531.97
Export from VNM to CRI of 3158159.42
Export from VNM to DOM of 23082427.13
Export from VNM to GRL of 1756.0
Export from VNM to GTM of 443038.0
Export from VNM to HND of 2798867.18
Export from VNM to JAM of 2479881.67
Export from VNM to KNA of 123318.0
Export from VNM to MEX of 11389001.51
Export from VNM to NIC of 354238.29
Export from VNM to SLV of 655494.7
Export from VNM to VCT of 152208.73
Export from VNM to AUS of 6901048.37
Export from VNM to FJI of 139190.51
Export from VNM to NCL of 486961.41
Export from VNM to PNG of 3659634.28
Export from VNM to PYF of 12687.0
Export from VNM to SLB of 91095.39
Export from VNM to TON of 52269.0
Export from VNM to VUT of 2520.0
Export from VNM to WSM of 250903.71
Export from VNM to BOL of 2740454.83
Export from VNM to BRA of 50224882.57
Export from VNM to CHL of 2804611.35
Export from VNM to COL of 16110278.72
Export from VNM to ECU of 2541256.47
Export from VNM to GUY of 5485789.72
Export from VNM to PER of 1574570.0
Export from VNM to PRY of 32218345.84
Export from VNM to SUR of 9553882.85
Export from VNM to URY of 519227.18
Export from VNM to VEN of 16862851.27
Export from VNM to BDI of 149559.46
Export from VNM to BEN of 2909099.75
Export from VNM to CAF of 138258.51
Export from VNM to CIV of 622778.32
Export from VNM to CMR of 42524.0
Export from VNM to COG of 30001.65
Export from VNM to CPV of 9304.14
Export from VNM to DZA of 1773193.0
Export from VNM to EGY of 18450310.78
Export from VNM to ETH of 14556919.78
Export from VNM to GHA of 444649.2
Export from VNM to GMB of 62268.97
Export from VNM to MAR of 2531709.59
Export from VNM to MDG of 148070.49
Export from VNM to MLI of 4873126.84
Export from VNM to MOZ of 2910731.04
Export from VNM to MRT of 3256777.9
Export from VNM to MUS of 57016.08
Export from VNM to NER of 2264492.68
Export from VNM to NGA of 34457.76
Export from VNM to RWA of 861179.63
Export from VNM to SEN of 317301.88
Export from VNM to STP of 15180.0
Export from VNM to TGO of 58740.92
Export from VNM to TUN of 1729698.9
Export from VNM to TZA of 1224218.3
Export from VNM to UGA of 876117.14
Export from VNM to ZAF of 1921897.0
Export from VNM to ZMB of 1566186.35

Export from VNM to KGZ of 1369.0
Export from VNM to LBN of 1333759.74
Export from VNM to LKA of 7455222.38
Export from VNM to MAC of 47554.0
Export from VNM to PAK of 40071952.93
Export from VNM to PSE of 657776.7
Export from VNM to SAU of 19862247.51
Export from VNM to SGP of 734293.2
Export from VNM to THA of 20315904.6
Export from VNM to TUR of 3295941.65
Export from VNM to YEM of 540458.46
Export from VNM to ALB of 106409.13
Export from VNM to AUT of 840649.51
Export from VNM to BGR of 9408.0
Export from VNM to BIH of 374574.33
Export from VNM to BLR of 681761.21
Export from VNM to BLX of 382309.01
Export from VNM to CHE of 967878.0
Export from VNM to CZE of 2357209.1
Export from VNM to DEU of 15177674.8
Export from VNM to DNK of 187193.74
Export from VNM to ESP of 2330744.75
Export from VNM to EST of 114504.46
Export from VNM to FIN of 411647.84
Export from VNM to FRA of 8093027.92
Export from VNM to GBR of 4544391.35
Export from VNM to GRC of 65311.1
Export from VNM to HRV of 143304.61
Export from VNM to IRL of 3395008.86
Export from VNM to ITA of 982649.04
Export from VNM to MDA of 18473.0
Export from VNM to MKD of 738702.84
Export from VNM to MNE of 276514.34
Export from VNM to NLD of 8546792.31
Export from VNM to POL of 5853718.06
Export from VNM to PRT of 2517391.78
Export from VNM to RUS of 10669652.34
Export from VNM to SRB of 4237358.32
Export from VNM to SVK of 6166661.02
Export from VNM to SVN of 1937576.75
Export from VNM to SWE of 80033.0
Export from VNM to UKR of 1557329.26
Export from VNM to ATG of 2941077.67
Export from VNM to BHS of 2982151.63
Export from VNM to BLZ of 116243.63
Export from VNM to BRB of 617841.5
Export from VNM to CAN of 14126.23
Export from VNM to CRI of 5334247.01
Export from VNM to DMA of 17238.0
Export from VNM to GTM of 134314.72
Export from VNM to HND of 3655546.45
Export from VNM to JAM of 1542123.85
Export from VNM to MEX of 7386501.44
Export from VNM to NIC of 242441.83
Export from VNM to SLV of 651226.03
Export from VNM to VCT of 37601.44
Export from VNM to AUS of 7982689.99
Export from VNM to FJI of 310363.38
Export from VNM to NCL of 302057.39
Export from VNM to PNG of 1687895.61
Export from VNM to PYF of 40221.22
Export from VNM to TON of 44940.5
Export from VNM to WSM of 614926.27
Export from VNM to BOL of 1007972.15
Export from VNM to BRA of 40725770.13
Export from VNM to CHL of 1890414.73
Export from VNM to COL of 7496132.4
Export from VNM to ECU of 14974833.44
Export from VNM to GUY of 5509396.54
Export from VNM to PER of 2369492.51
Export from VNM to PRY of 23869750.89
Export from VNM to URY of 945315.99
Export from VNM to VEN of 39396876.33
Export from VNM to BEN of 881289.43
Export from VNM to BFA of 6710408.42
Export from VNM to CAF of 128616.7
Export from VNM to CIV of 521915.05
Export from VNM to COG of 53396.55
Export from VNM to DZA of 2428043.0
Export from VNM to EGY of 19600826.26
Export from VNM to ETH of 10548656.44
Export from VNM to GHA of 218990.46
Export from VNM to GMB of 77491.11
Export from VNM to MAR of 1391710.14
Export from VNM to MDG of 193890.08
Export from VNM to MOZ of 8367427.25
Export from VNM to MRT of 5699436.55
Export from VNM to MUS of 13621.37
Export from VNM to MWI of 122594.0
Export from VNM to NER of 4352261.56
Export from VNM to NGA of 4470630.26
Export from VNM to RWA of 977726.74
Export from VNM to STP of 1138.0
Export from VNM to TGO of 505885.72
Export from VNM to TUN of 1257409.3
Export from VNM to TZA of 2519273.54
Export from VNM to UGA of 828329.55
Export from VNM to ZAF of 3046450.0
Export from VNM to ZMB of 215865.74
Export from VNM to ZWE of 1170753.67
Export from VNM to BRN of 278505.04
Export from VNM to CHN of 2718394688.0
Export from VNM to CYP of 2162.0
Export from VNM to GEO of 3518737.0
Export from VNM to HKG of 741194.0
Export from VNM to IDN of 12838832.44
Export from VNM to IND of 31645202.09
Export from VNM to KAZ of 264006.0
Export from VNM to KGZ of 32148.22
Export from VNM to KHM of 137716.88
Export from VNM to KWT of 83652.27
Export from VNM to LBN of 469560.25
Export from VNM to LKA of 5774357.1
Export from VNM to MNG of 174900.0
Export from VNM to MYS of 58513.41
Export from VNM to PAK of 41372233.8
Export from VNM to PSE of 973044.81
Export from VNM to QAT of 3203912.51
Export from VNM to SAU of 8869971.84
Export from VNM to SGP of 1504415.39
Export from VNM to THA of 11794539.17
Export from VNM to TLS of 9717.0
Export from VNM to TUR of 3277250.77
Export from VNM to YEM of 398302.0
Export from VNM to ALB of 48015.0
Export from VNM to AUT of 499513.41
Export from VNM to BGR of 44289.0
Export from VNM to BIH of 356157.28
Export from VNM to BLR of 1756118.12
Export from VNM to BLX of 733820.95
Export from VNM to CHE of 2427904.0
Export from VNM to CZE of 12194105.38
Export from VNM to DEU of 13916070.69
Export from VNM to DNK of 107207.49
Export from VNM to ESP of 1826816.29
Export from VNM to EST of 532816.35
Export from VNM to FIN of 115362.0
Export from VNM to FRA of 7601013.69
Export from VNM to GBR of 863930.04
Export from VNM to GRC of 211939.83
Export from VNM to HRV of 76055.0
Export from VNM to IRL of 3539075.17
Export from VNM to ITA of 1109985.64
Export from VNM to MDA of 367185.45
Export from VNM to MKD of 336535.05
Export from VNM to MNE of 745474.05
Export from VNM to NLD of 120767460.0
Export from VNM to POL of 6973030.62
Export from VNM to PRT of 2986647.9
Export from VNM to ROU of 4238.0
Export from VNM to RUS of 9207861.42
Export from VNM to SRB of 1437039.42
Export from VNM to SVK of 2302882.8
Export from VNM to SVN of 1648521.75
Export from VNM to SWE of 17002.96
Export from VNM to UKR of 1322183.77
Export from VNM to ATG of 1086973.36
Export from VNM to BHS of 1242811.0
Export from VNM to BLZ of 4198.93
Export from VNM to BRB of 203702.85
Export from VNM to CAN of 32158.4
Export from VNM to CRI of 3313040.38
Export from VNM to GTM of 71192.0
Export from VNM to JAM of 6529385.64
Export from VNM to MEX of 12985962.15
Export from VNM to NIC of 1180141.25
Export from VNM to SLV of 673503.95
Export from VNM to AUS of 24173.0
Export from VNM to FJI of 391236.7
Export from VNM to PYF of 66414.44
Export from VNM to SLB of 189782.61
Export from VNM to WSM of 735055.66
Export from VNM to BOL of 383167.17
Export from VNM to BRA of 68179935.67
Export from VNM to CHL of 5370830.03
Export from VNM to COL of 4680376.83
Export from VNM to GUY of 14218545.43
Export from VNM to PER of 538082.32
Export from VNM to PRY of 11228128.56
Export from VNM to URY of 539829.72
Export from VNM to VEN of 28506690.19
Export from VNM to BDI of 243785.0
Export from VNM to BEN of 4699032.23
Export from VNM to BFA of 22089.0
Export from VNM to CAF of 4159.0
Export from VNM to CIV of 502349.93
Export from VNM to CMR of 169920.48
Export from VNM to COG of 33438.35
Export from VNM to DZA of 2675094.0
Export from VNM to EGY of 15473700.74
Export from VNM to ETH of 5294167.07
Export from VNM to GIN of 524958.27
Export from VNM to GMB of 181559.0
Export from VNM to MAR of 1355131.36
Export from VNM to MDG of 576943.97
Export from VNM to MOZ of 13850848.63
Export from VNM to MRT of 1540202.0
Export from VNM to MUS of 12283.26
Export from VNM to MWI of 30678.0
Export from VNM to NER of 1178107.26
Export from VNM to NGA of 20173303.97
Export from VNM to RWA of 409321.22
Export from VNM to SEN of 141981.81
Export from VNM to TZA of 4418635.79
Export from VNM to UGA of 8942293.9
Export from VNM to ZAF of 2323647.64
Export from VNM to ZMB of 1170627.01
Export from VNM to ZWE of 736092.85
Export from VNM to ARM of 4896.0
Export from VNM to BRN of 293219.2
Export from VNM to CHN of 2673747155.0
Export from VNM to CYP of 27463.0
Export from VNM to GEO of 3559616.0
Export from VNM to HKG of 6517176.69
Export from VNM to IDN of 1500444.47
Export from VNM to IND of 71636862.13
Export from VNM to KAZ of 5511756.24
Export from VNM to KWT of 55930.0
Export from VNM to LBN of 678098.07
Export from VNM to LKA of 10439739.55
Export from VNM to MAC of 2501.0
Export from VNM to MNG of 603314.0
Export from VNM to MYS of 135980.0
Export from VNM to PAK of 40458186.48
Export from VNM to PHL of 4503.0
Export from VNM to PSE of 131645.58
Export from VNM to QAT of 1697924.33
Export from VNM to SGP of 113565.37
Export from VNM to THA of 18016316.72
Export from VNM to TUR of 1062972.72
Export from VNM to YEM of 803498.42
Export from VNM to ALB of 10327.0
Export from VNM to AND of 1959.0
Export from VNM to AUT of 160454.06
Export from VNM to BGR of 27666.0
Export from VNM to BIH of 287353.9
Export from VNM to BLR of 332200.0
Export from VNM to BLX of 778794.92
Export from VNM to CHE of 3282281.23
Export from VNM to CZE of 6267035.41
Export from VNM to DEU of 11909202.92
Export from VNM to DNK of 6290.0
Export from VNM to ESP of 1779586.72
Export from VNM to EST of 264123.95
Export from VNM to FIN of 155505.0
Export from VNM to FRA of 7523824.08
Export from VNM to GBR of 662227.15
Export from VNM to GRC of 28030.0
Export from VNM to IRL of 4516566.32
Export from VNM to ITA of 567240.0
Export from VNM to MDA of 122686.32
Export from VNM to MKD of 326830.95
Export from VNM to MNE of 118201.67
Export from VNM to NLD of 2071864.94
Export from VNM to POL of 5384367.37
Export from VNM to ROU of 3567.0
Export from VNM to RUS of 9986141.11
Export from VNM to SRB of 1459552.57
Export from VNM to SVK of 3499667.37
Export from VNM to SVN of 1161821.96
Export from VNM to SWE of 3506.0
Export from VNM to UKR of 318947.27
Export from VNM to ATG of 2400627.95
Export from VNM to BHS of 1763727.82
Export from VNM to BLZ of 212798.0
Export from VNM to BMU of 73269.66
Export from VNM to BRB of 195584.0
Export from VNM to CAN of 13779.49
Export from VNM to GRL of 55521.0
Export from VNM to GTM of 1838982.3
Export from VNM to HND of 4621294.01
Export from VNM to JAM of 9552323.49
Export from VNM to LCA of 2540.0
Export from VNM to MEX of 6822800.15
Export from VNM to NIC of 11718728.17
Export from VNM to SLV of 747232.3
Export from VNM to FJI of 795745.7
Export from VNM to NCL of 358523.84
Export from VNM to PYF of 183216.0
Export from VNM to TON of 60324.58
Export from VNM to WSM of 1249739.58
Export from VNM to BOL of 354906.69
Export from VNM to BRA of 19882986.26
Export from VNM to CHL of 4281388.95
Export from VNM to COL of 5814903.63
Export from VNM to GUY of 11643706.72
Export from VNM to PER of 527659.55
Export from VNM to PRY of 14378706.31
Export from VNM to SUR of 9059060.33
Export from VNM to URY of 229136.64
Export from VNM to AGO of 5580441.52
Export from VNM to BDI of 3210.0
Export from VNM to BEN of 10440997.54
Export from VNM to BFA of 32791483.14
Export from VNM to CAF of 71735.0
Export from VNM to CIV of 399185.51
Export from VNM to CMR of 206795.91
Export from VNM to CPV of 13000.0
Export from VNM to DZA of 2204895.0
Export from VNM to EGY of 5756855.84
Export from VNM to ETH of 5647398.31
Export from VNM to GIN of 218701.5
Export from VNM to MAR of 640294.16
Export from VNM to MDG of 16113.96
Export from VNM to MOZ of 10457349.09
Export from VNM to MUS of 16833.81
Export from VNM to MWI of 4851.0
Export from VNM to NER of 379442.87
Export from VNM to RWA of 1702696.21
Export from VNM to SDN of 61270.4
Export from VNM to SEN of 286469.94
Export from VNM to SLE of 490486.58
Export from VNM to SYC of 2138589.86
Export from VNM to TGO of 1117365.86
Export from VNM to TUN of 911692.06
Export from VNM to TZA of 2185818.03
Export from VNM to UGA of 1066290.98
Export from VNM to ZAF of 997085.56
Export from VNM to ZMB of 13772943.75
Export from VNM to ZWE of 490451.17
Export from VNM to ARM of 39104.46
Export from VNM to BHR of 292616.82
Export from VNM to BRN of 719933.05
Export from VNM to CHN of 2338271127.0
Export from VNM to CYP of 56114.74
Export from VNM to HKG of 13088745.56
Export from VNM to IND of 97796047.12
Export from VNM to KAZ of 458555.87
Export from VNM to KGZ of 3773.0
Export from VNM to KHM of 968948.58
Export from VNM to KWT of 51963.71
Export from VNM to LKA of 8557356.62
Export from VNM to MNG of 822812.0
Export from VNM to MYS of 979241.04
Export from VNM to PAK of 43066340.19
Export from VNM to PHL of 10358152.94
Export from VNM to PSE of 27776.0
Export from VNM to QAT of 737331.48
Export from VNM to SAU of 25320391.05
Export from VNM to SGP of 1319287.53
Export from VNM to THA of 6873845.52
Export from VNM to TUR of 13613789.9
Export from VNM to XXB of 26735941.32
Export from VNM to YEM of 212273.04
Export from VNM to ALB of 14512.0
Export from VNM to AUT of 878933.99
Export from VNM to BIH of 266495.0
Export from VNM to BLR of 119810.9
Export from VNM to BLX of 944698.14
Export from VNM to CZE of 226274.0
Export from VNM to DEU of 3399341.08
Export from VNM to DNK of 2642.0
Export from VNM to ESP of 1586417.49
Export from VNM to EST of 505018.38
Export from VNM to FIN of 239657.0
Export from VNM to FRA of 8901540.25
Export from VNM to GBR of 415602.72
Export from VNM to HUN of 467576.0
Export from VNM to IRL of 769203.14
Export from VNM to ITA of 394346.0
Export from VNM to MDA of 189991.2
Export from VNM to MKD of 404346.69
Export from VNM to MNE of 264544.0
Export from VNM to NLD of 418197.0
Export from VNM to POL of 7286986.93
Export from VNM to RUS of 5578760.6
Export from VNM to SRB of 1191261.86
Export from VNM to SVK of 1869234.06
Export from VNM to SVN of 885229.82
Export from VNM to SWE of 438123.0
Export from VNM to UKR of 2013046.95
Export from VNM to ATG of 2798361.94
Export from VNM to BHS of 124003.48
Export from VNM to BLZ of 1688.0
Export from VNM to BMU of 419860.0
Export from VNM to BRB of 28071.43
Export from VNM to CAN of 100265.2
Export from VNM to CRI of 2264450.33
Export from VNM to GRL of 8568.59
Export from VNM to GTM of 414601.88
Export from VNM to MEX of 13809874.55
Export from VNM to NIC of 335360.97
Export from VNM to SLV of 1084045.42
Export from VNM to VCT of 115452.17
Export from VNM to FJI of 8853237.84
Export from VNM to NCL of 200326.2
Export from VNM to PLW of 2336.0
Export from VNM to PYF of 87444.21
Export from VNM to SLB of 59750.06
Export from VNM to WSM of 774204.11
Export from VNM to BOL of 757078.12
Export from VNM to BRA of 15427466.46
Export from VNM to CHL of 22898770.81
Export from VNM to COL of 3146065.61
Export from VNM to ECU of 4412351.39
Export from VNM to GUY of 7137466.15
Export from VNM to PER of 280650.31
Export from VNM to PRY of 16496727.35
Export from VNM to URY of 206349.39

<h1>Conditional Indexing</h1>

<ul>
    <li>Conditional Operators (>, ==, >=) can be used to return rows based on their values </li>
    <li>Bitwise Operators (|, &) can be used to combine conditonal statements</li>
</ul>

In [63]:
df_1995 = df[df["year"] == 1995]

df_1995.head()

   year country origin country destination  export_val
0  1995            VNM                 BFA    67177.77
1  1995            VNM                 CAF   514674.15
2  1995            VNM                 CIV    58011.71
3  1995            VNM                 CMR    97669.00
4  1995            VNM                 COG    24018.39

In [64]:
df_2000s = df[df["year"] > 1999]

df_2000s.head()

     year country origin country destination  export_val
508  2000            VNM                 BEN   923912.58
509  2000            VNM                 BFA   339732.75
510  2000            VNM                 CAF    33662.13
511  2000            VNM                 CIV   342503.71
512  2000            VNM                 CMR     1447.32

In [65]:
caf_1995 = df[(df["year"]  == 1995) & (df["country destination"]  == "CAF")]
caf_1995.head()

   year country origin country destination  export_val
1  1995            VNM                 CAF   514674.15

In [66]:
df[(df["year"]  == 1995) | (df["year"]  == 1996)].head()

   year country origin country destination  export_val
0  1995            VNM                 BFA    67177.77
1  1995            VNM                 CAF   514674.15
2  1995            VNM                 CIV    58011.71
3  1995            VNM                 CMR    97669.00
4  1995            VNM                 COG    24018.39

In [67]:
# find the exports to CAN in 1995

# find the exports to CAN for years greater than 1999
df[df["country destination"] == "CHN"].head()

     year country origin country destination    export_val
23   1995            VNM                 CHN  5.893655e+07
112  1996            VNM                 CHN  6.175346e+07
212  1997            VNM                 CHN  1.081749e+08
315  1998            VNM                 CHN  4.985120e+07
422  1999            VNM                 CHN  3.834332e+07

<h1>Formatting Data</h1>

<ul>
    <li>To access and format the string values of a DataFrame, we can access methods within the "str" module of the DataFrame </li>
    <li>We may also format float values using options.display.float_format() in Pandas</li>
</ul>

In [68]:
df["country origin"] = df["country origin"].str.replace("VNM", "Vietnam")

In [69]:
df.head()

   year country origin country destination  export_val
0  1995        Vietnam                 BFA    67177.77
1  1995        Vietnam                 CAF   514674.15
2  1995        Vietnam                 CIV    58011.71
3  1995        Vietnam                 CMR    97669.00
4  1995        Vietnam                 COG    24018.39

In [70]:
pd.options.display.float_format = "{:.2f}".format
df.head()

   year country origin country destination  export_val
0  1995        Vietnam                 BFA    67177.77
1  1995        Vietnam                 CAF   514674.15
2  1995        Vietnam                 CIV    58011.71
3  1995        Vietnam                 CMR    97669.00
4  1995        Vietnam                 COG    24018.39

In [71]:
df.to_csv("exports.csv")
#to_excel also an option